@charset "utf-8";
/* CSS Document */
body{
	background:#e4e4e2;
	height:100%;
}
a{cursor:pointer; text-decoration:none;}
.login-wrap{
	width:654px;
	height:368px;
	margin:0 auto;
	background:url(../images/login-bg.png);	
	position:relative;
}
.login-info{
	
	width:270px;
	padding:10px;
	position:absolute;
	right:70px;
	top:146px;
}
.login-info .login-item{
	margin-bottom:15px;	
}
.login-info .login-item img.yzm{
	margin-top:3px;	
}
.login-info span{
	display:inline-block;
	font-family:"黑体";
	font-weight:bold;
}
.login-info input{
	width:180px;
	padding:2px 5px 2px 5px;
	border:1px solid #b4b4b2;	
}
.login-info input.yzm{
	width:100px;	
}
.login-info .login-item a.login-btn{
	display:block;
	width:112px;
	height:35px;
	background:url(../images/login.png);
	margin:58px 0 0 68px;
	cursor:pointer
}


/*后台*/
.top-bar{
	background:#f66b66;
	height:124px;
	width:100%;	
	min-width:1370px;
	position:relative;
}
.top-bar .user-wrap{
	position:absolute;
	right:20px;
	top:30px;
}
.top-bar .ht-h2{
	position:absolute;
	left:300px;
	top:40px;
	color:#fff;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:30px;	
}
.top-bar .user-wrap a{
	background-image:url(../images/icon.png);
	display:inline-block;
	float:right;
	width:70px;
	height:15px;
	padding-top:45px;
	text-align:center;
	color:#fff;
	font-family:"微软雅黑";
	margin-right:15px;
}
.top-bar .user-wrap .user{
	background-position:0 0;	
}
.top-bar .user-wrap .exit{
	background-position:-70px 0;	
}



.left-bar{
	background:#733a4a;
	height:100%;
	width:250px;
	position:absolute;
	left:0;
	top:0;
}
.ht-nav li{
	height:60px;
	width:250px;
	border-bottom:1px solid #fff;
}
.ht-nav li:last-child{
	border:none;
}
.ht-nav li a{
	display:block;
	height:60px;
	width:166px;
	position:relative;
	padding-left:86px;
	color:#fff;
	font-family:"微软雅黑";
	font-weight:bold;
	line-height:60px;
}
.ht-nav li a:hover,.ht-nav .list-on a{
	background:#e4e4e2;
	color:#733a4a;	
}
.ht-nav li a i{
	background-image:url(../images/icon.png);
	width:32px;
	height:32px;
	position:absolute;
	left:30px;
	top:14px;
}
.ht-nav li a i.ic1{
	background-position:0 -136px;	
}
.ht-nav li a:hover i.ic1,.ht-nav .list-on i.ic1{
	background-position:0 -168px;	
}
.ht-nav li a i.ic2{
	background-position:-32px -136px;	
}
.ht-nav li a:hover i.ic2,.ht-nav .list-on i.ic2{
	background-position:-32px -168px;	
}
.ht-nav li a i.ic3{
	background-position:-64px -136px;	
}
.ht-nav li a:hover i.ic3,.ht-nav .list-on i.ic3{
	background-position:-64px -168px;	
}
.ht-nav li a i.ic4{
	background-position:-96px -136px;	
}
.ht-nav li a:hover i.ic4,.ht-nav .list-on i.ic4{
	background-position:-96px -168px;	
}
.ht-nav li a i.ic5{
	background-position:-128px -136px;	
}
.ht-nav li a:hover i.ic5,.ht-nav .list-on i.ic5{
	background-position:-128px -168px;	
}
.ht-nav li a i.ic6{
	background-position:-160px -136px;	
}
.ht-nav li a:hover i.ic6,.ht-nav .list-on i.ic6{
	background-position:-160px -168px;	
}
.ht-nav li a i.ic7{
	background-position:-192px -136px;	
}
.ht-nav li a:hover i.ic7,.ht-nav .list-on i.ic7{
	background-position:-192px -168px;	
}


.content{
	padding:10px;
	margin-left:250px;
	min-width:1100px;
	max-width:1700px;
}
.dksq{
	
}
.item-1,.item-2,.item-3{
	background:#fff;
	padding:5px 0 5px 10px;
	overflow:hidden;
	border:1px solid #d3d3d3;
}
.item-2{
	font-size:12px;	
}
.item-3{
	padding:0 0 0 10px;		
}
.item-1 *{
		
}
.all-float *{
	float:left
}
.item-1 select{
	padding:5px 15px;
	width:160px;
	border:2px solid #dadada	
}
.item-1 span{
	line-height:40px;	
}
.item-1 input{
	padding:5px 10px;	
}
.item-1 .w70 input{
	width:20px;
	height:20px;
	margin:15px 0 0 25px;	
}
.btn-1{
	width:94px;
	display:block;
	float:left;
	height:34px;
	line-height:34px;
	font-size:12px;
	text-align:center;
	color:#fff;	
}
.btn-blue{
	background:url(../images/btn-blue.png)	
}
.btn-purple{
	background:url(../images/btn-purple.png)	
}


.item-2 .items {
	overflow:hidden;
	position:relative;
	border-bottom:1px solid #d3d3d3;
}
.item-2 .items input,.item-2 .items select{
	padding:2px 10px;	
}
.item-2 .items .items-left{
	float:left;
	width:10%;
	padding:20px 30px;
	border-right:1px solid #d3d3d3;
	
	text-align:right;
}
.item-2 .items .items-right{
	float:left;
	
	padding:15px 0 0 30px;
	text-align:left;
}
.item-2 .items .items-right select{
	width:250px;
}
.item-2 .items .short select{
	width:150px;
}
.item-2 .items .warning{
	position:absolute;
	left:550px;
	bottom:15px;
	color:#ff0000
}
.item-2 .items .items-right button{
	width:117px;
	height:32px;	
	margin-top:10px;
}
.item-2 a.btn-1{
	font-size:14px;
	font-weight:bold;	
}

.item-1 table{
	width:100%;
	font-size:12px;
}
.item-1 table th,.item-1 table td{
	background:#f66b66;
	height:50px;
	vertical-align:middle;
	width:50px;
	text-align:center;
	color:#fff;
	border-right:2px solid #fff;
	border-bottom:2px solid #fff;
}
.item-1 table td{
	background:none;
	color:#000	
}
.item-1 table td a{
	color:#ff0000;
	height:12px;
	float:left;
	margin-left:15px;
	margin-top:7px;
	text-decoration:underline;
	line-height:12px;
	display:block;
}
.item-1 table th,.item-1 table .w70{
	width:70px;
}
.item-1 table th,.item-1 table .w40{
	width:40px;
}
.item-1 table th,.item-1 table .w85{
	width:85px;
}
.item-1 table th,.item-1 table .w100{
	width:100px;
}
.item-1 table th,.item-1 table .w150{
	width:150px;
}
.item-1 table th,.item-1 table .w190{
	width:190px;
}
.item-1 table th,.item-1 table .w200{
	width:200px;
}
.item-1 table th,.item-1 table .w820{
	width:820px;
}
.item-1 table th,.item-1 table .w230{
	width:230px;
}
.item-1 table th,.item-1 table .w280{
	width:280px;
}
.item-1 table th,.item-1 table .w340{
	width:340px;
}
.item-1 table th,.item-1 table .w950{
	width:950px;
}
.item-1 table th,.item-1 table .double-line{
	height:35px;padding:10px 0;
	vertical-align:middle;
}
.item-1 table tr{
	width:100%;	
}
.page *{
	font-size:12px;	
	float:left;
}
.btn-page{
	width:88px;
	height:27px;
	margin-top:5px;
	text-align:center;
	line-height:27px;
	color:#fff;
	font-size:12px;
	background:url(../images/btn-blue.png);
}
.btn-red{
	background:#c85058;
	width:auto;
	padding:0 15px;
	font-size:14px;
}
.item-3 .item3-items{
	border-bottom:1px solid #e4e4e2;
	overflow:hidden;
}

.item-3 .items{
	width:400px;
	float:left;
	padding:15px 0;
	border-right:1px solid #e4e4e2;
}
.khgl .items{
	width:350px;	
}
.item-3 .items:first-child{
	margin-left:15px;
}
.item-3 .items:last-child{
	border:none;
}
.item-3 .items input{
	height:25px;
	width:200px;
}
.item-3 .items span{
	width:120px;
	display:inline-block;
	text-align:right;
}
.item-3 .items a.btn-blue{
		
}
.item-2-icon a{
	color:#ff0000;
	font-size:14px;	
	display:inline-block;
	padding:10px 30px;
	position:relative;
}
.item-2-icon i{
	background:url(../images/icon.png) -382px 0;
	position:absolute;
	left:0;
	top:4px;
	display:block;
	width:27px;
	height:27px;
}
.item-2-icon .back{
	background:url(../images/icon.png) -409px 0;
}
.item-2-icon .modify{
	background:url(../images/icon.png) -436px 0;
}
.blue-a table td a{
	color:#20b6ec;
	margin-left:10px;	
}
.qxgl select{
	border:2px solid #dadada;
	height:30px;
	padding:5px 0;
	width:250px;	
}
.new-account input{
	width:250px;
	height:25px;	
}

.ff0{
	color:#ff0000;
	font-weight:bold
}
.btn-black{
	background:url(../images/btn-black.png)	
}
.item-4{
	border:10px solid #d3d3d3;
	height:400px;
	background:#fff;
	position:relative;
}
.item-4 .items{
	width:250px;
	height:100px;
	position:absolute;
	left:300px;
	bottom:150px
}
.item-4 .items i{
	width:69px;
	height:59px;
	background:url(../images/icon.png) -237px -141px;
	position:absolute;
}
.item-4 .items div{
	padding-left:90px;
	padding-top:10px;
	font-weight:bold;
	color:#ff0000;
	width:200px	
}

.item3-items select{
	border:2px solid #dadada;
	width:200px;
	padding:5px 0;
	height:30px;	
}
div.cz1{
		overflow:hidden;width:300px;margin:0 auto
}
div.cz2{
	overflow:hidden;width:120px;margin:0 auto
}
div.cz3{
	overflow:hidden;width:100px;margin:0 auto
}
div.cz4{
	overflow:hidden;width:80px;margin:0 auto
}