@media all and (min-width: 720px){
    #wrap{ width:720px; margin:0 auto;overflow: hidden;}
}
body{ background:#f5f5f5;font-family:"Microsoft YaHei"}
*{ margin:0;padding:0;list-style: none; }
img{ border:none;}
a{ text-decoration: none;}
table{ border-collapse: collapse;}
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }

.Carousel{ width:100%;overflow: hidden;position:relative;}
.Carousel img{ width:100%;display:block;}
.Carousel ul{ overflow: hidden;position: absolute;}
.Carousel ul li{ float:left;}
.Carousel ol{ position:absolute;z-index: 2; bottom:-6px; height:20px;}
.Carousel ol li{ width:5px;height:5px; float:left;background:#666; border-radius: 10px; opacity:0.5;margin-right:5px; }
.Carousel ol .active{ opacity: 1;}

.nav{ width:100%;background:#fff;padding:10px 0;border-bottom:1px solid #ededed;}
.nav tr{ width:100%;}
.nav tr th{ font-weight: normal;font-size: 13px; padding:5px 0 10px 0;}
.nav tr th i{ display:block; width:40px;height:40px;background:url(../phone_img/icon.png) no-repeat;margin:0 auto;background-size:320px 40px;}
.nav tr th span{ padding-top:5%;display:block;}

.nav tr:nth-child(1) th:nth-child(2) i{ background-position:-40px 0;}
.nav tr:nth-child(1) th:nth-child(3) i{ background-position:-80px 0;}
.nav tr:nth-child(1) th:nth-child(4) i{ background-position:-120px 0;}

.nav tr:nth-child(2) th{ padding-top:5px;}
.nav tr:nth-child(2) th:nth-child(1) i{ background-position:-160px 0;}
.nav tr:nth-child(2) th:nth-child(2) i{ background-position:-200px 0;}
.nav tr:nth-child(2) th:nth-child(3) i{ background-position:-240px 0;}
.nav tr:nth-child(2) th:nth-child(4) i{ background-position:-280px 0;}
.nav th span{ color:#666666;}

.rob{ width:95%;margin:10px auto 0 auto;background:#fff; overflow: hidden;}
.rob .title_r{ padding:5px 10px;}
.rob .title_r>*{ float:left;}
.rob .title_r>span{ background:url(../phone_img/icon2.png) no-repeat -84px -109px;display:block;background-size:200px 200px; width:18px;height:22px;}
.rob .title_r h2{ font-size:14px; font-weight: normal;color:#ca1327;padding:4px 0 0 5px;}
.rob .title_r a{ float:right;}
.rob .title_r a span{ font-size:12px;color:#666666;float:right;padding-top:5px;}

.rob ul{ }
.rob ul li{ overflow: hidden;width:33.3%;}
.rob ul li a{}
.rob .pic{ position:relative;border-right:1px solid #f7f7f7;}
.rob .pic img{ width:80%;display:block;margin:0 auto;}
.rob .pic span{ position:absolute;display: block;bottom:10%;font-size:12px;background:#fdbd22;padding:5px;border-radius: 20px;color:#fff;opacity: 0.9;right: 12%;}
.rob .price{ text-align: center;padding:5px 0;}
.rob .price>*{ display:block;font-size:12px;}
.rob .price span:nth-child(1){ color:#ed5657;font-size:14px;}
.rob .price s:nth-child(2){ color:#888888;}

#content{ width:95%; margin:10px auto 0 auto;  }
.banner{ background:#fff;}
.title{ width:100%; padding:9px 0 5px 0;border-bottom: 1px solid #ededed;}
.title>*{ float:left;}
.title span{ width:3px;height:12px; background:#d8505c;margin:2px 5px 0 10px;}
.title h2{ color:#7f7f7f; font-size:14px;font-weight: normal;}
.banner a{}
.banner a img{ width:100%;box-sizing: border-box; padding:5px;}

.activity{ width:100%;overflow: hidden;background:#fff;margin-top:10px;}
.activity .title{ border-bottom:none;}
.activity table{ width:100%;}
.activity table th{ border:1px solid #ededed; font-weight: normal;width:50%;}
.activity table img{ width:100%;}

#gallery{ width:100%;background:#fff; overflow: hidden;margin-top:10px;box-sizing: border-box;padding:0 2.5%;}
#gallery .title{ border:none;}
#gallery ul{ overflow: hidden;padding-bottom: 10px;}
#gallery ul li:nth-child(odd){ padding-right:2.5%;}
#gallery ul li{ float:left;padding:4px 0;width:48.75%;}
#gallery ul li a{ display:block;}
#gallery ul li a img{ width:100%;display:block;}

.pbl{ background:#fff;margin-top:10px;width:100%;overflow: hidden;padding-bottom:10px;}
.pbl .title{ border:none;}
.pbl ul{}
.pbl ul li{ width:49%;float:left;box-sizing: border-box;padding:0 3%;margin-top:3%;}
.pbl ul li:nth-child(odd){ margin-right:2%;}
.pbl ul li img{ width:100%;}
.pbl ul li>a{}
.pbl ul li>a p{ color:#333333;font-size:12px;display:block;height:28px;overflow: hidden; text-overflow:ellipsis;box-sizing: border-box; margin-bottom: 6px;}
.pbl ul li .price{ border-top:1px solid #d7d7d7; padding-top:5px;position:relative;}
.pbl ul li .price a{ text-align:center; line-height:18px;color:#999999;border:1px solid #999999;border-radius: 3px;padding:0 2px;float:right;font-size:12px; }
.pbl ul li .price span{ color:#f15353;display:block;float:left;font-weight: 600; }

#footer{ width:100%;}
#footer #load{ width:100%;border-bottom:1px solid #dbdbdb;border-top:1px solid #dbdbdb; font-size:12px; color:#666; text-align: center; line-height:30px; background:#f3f5f7;}
#footer ul{ width:100%;border-bottom:1px solid #dbdbdb;overflow: hidden;box-sizing: border-box;height:40px;}
#footer ul:nth-of-type(1) li{ width:25%; float:left;text-align: center;box-sizing: border-box;border-right:1px solid #dbdbdb;margin:10px 0;}
#footer ul:nth-of-type(1) li a{ color:#666666; font-size:13px;}
#footer ul:nth-of-type(1) li:nth-of-type(4){ border:none;}

#footer ul:nth-of-type(2){ height:60px;box-sizing: content-box; padding:10px 0 5px 0; width:80%; margin:0 auto;border:none;}
#footer ul:nth-of-type(2) li{ width:33%; float:left; margin-right:0.5%;}
#footer ul:nth-of-type(2) li:nth-of-type(3){ margin:0;}
#footer ul:nth-of-type(2) li a{}
#footer ul:nth-of-type(2) li i{ display:block; background:url(../phone_img/icon2.png) no-repeat; background-size:200px; width:33px;height:33px; background-position:0 -70px; margin:0 auto;}
#footer ul:nth-of-type(2) li:nth-of-type(1){}
#footer ul:nth-of-type(2) li:nth-of-type(2) i{ background-position:-40px -70px;}
#footer ul:nth-of-type(2) li:nth-of-type(3) i{background-position:-80px -70px;}
#footer ul:nth-of-type(2) li span{ text-align: center; width:100%;display:block;font-size:12px; color:#666;margin-top:5px;}

#footer>p{ width:100%;display:block; font-size:13px; color:#666; text-align: center; line-height:40px; border-top:1px solid #dbdbdb;}

.minor_h{ width:100%;height:40px; position:fixed; background:rgba(200,22,36,0.8);}
.minor_h .logo{ width:20%;height:100%;float:left;}
.minor_h .logo span{ display:block;width:56px;height:21px; background:url(../phone_img/icon2.png) no-repeat 0 -109px; background-size:200px; margin:8px auto 0 auto;}
.minor_h form{ height:70%; width:60%; position:absolute;left:20%;margin-top:5px;}
.minor_h form span{ width:20px;height:20px; background:url(../phone_img/icon2.png) no-repeat -59px -109px;display: block;position:absolute;background-size:200px;left:6px;top:4px;}
.minor_h form input{ width:100%;height:100%; border-radius: 20px;border:none;color:#a9a9a9;padding-left:30px;}
.minor_h .login{ width:10%; float:right; height:100%;}
.minor_h .login div{  color:#fff; font-weight: bold; line-height:40px; }
@media all and (max-width: 320px){
    .minor_h .logo{ margin-left:0;}
    .minor_h .login{ font-size:12px;}
}