*{ margin:0 auto;font-family:"Microsoft YaHei"}
li{ list-style: none;}
a{ text-decoration: none; color:#fff;}
a:hover{ text-decoration: none;}
ul{ padding-left:0;}
.container{ padding-left:0; padding-right:0; }
.flex-container {display: -webkit-flex;display: flex;}
.breadcrumb{ background-color:transparent;}
@media (min-width: 1200px){ .container{ width:1200px;}}


/* 导航 */
.navBox{ width: 100%;z-index: 99; height: 83px; position: fixed; top:0; background-color:#012966; transition: 0.2s; }
.main .navBox.roll{ position: fixed; background-color:#012966; }
.navbar{
    overflow: hidden;
    margin:0 auto;
    white-space:nowrap;
    width:1200px;
    z-index: 10;
    margin-bottom:0;
    border:none;
    background:transparent;
    box-sizing: border-box;
    padding-top:20px;
    margin:0 auto;
}
.navbar *{ }
.navbar .logo{  position: relative; display: block; height: auto;}
.navbar img{ margin:0 40px 0 20px; position: relative; bottom:6px;}
.navbar-toggle{margin:10px 30px 0 0;border:none;}
.navbar-default .navbar-toggle .icon-bar{ background-color:#fff;}
.navbar-nav{ padding-top:24px; display: inline-block;white-space:nowrap;}

.navBox .language{ color:#fff; float:right;  margin-top:-40px; margin-right:10%;}
.navBox .language li{ float:left; padding:0 8px;border-right:1px solid #fff;} 
.navBox .language li:nth-of-type(2),.home .navBox.roll .language li:nth-of-type(2){ border:none;}
.navBox .language li:nth-of-type(3),.home .navBox.roll .language li:nth-of-type(3){ border:none;background-color:#4a90e2; border-radius: 2px;}
.navBox .language li:nth-of-type(3):hover a,.home .navBox.roll .language li:nth-of-type(3):hover a{ color:#fff;}

.home .navBox .language li:nth-of-type(2){ border-right:1px solid #fff;}
.home .navBox .language li:nth-of-type(3){ background-color:transparent;}
.home .navBox .language li:nth-of-type(3):hover a{ color:#4a90e2;}

/* 导航-针对平板尺寸 */
@media screen and ( min-width:768px ) and (max-width: 1000px) {
    .navbar-header{ width: 25%;}
    .navbar-nav{ width: 70%; margin-left:1%; display: -webkit-flex;display: flex;}
    .navbar img{ margin-right:0;}
    .navBox .language{ display:none;}
    .navbar-nav>li>a{ padding:0 6px 15px 6px;}
}

/* 计算机 */
.computer-btn{  position: fixed; width: 84px; z-index: 50; height: 84px;background:url("../img/botton-cal.png") center no-repeat; bottom:150px; right:50px;}
.computer-btn i{ width: 84px; height: 84px;}

.computer{ width: 260px;height: 328px; background:#4a90e2;  position: relative; border-radius: 5px; left:-280px; top:-110px; display:none;}
.computer .box { display:none;z-index: 99; }
.computer .content{ width: 252px;height: 293px; background:#fff; margin:0 auto;}
.computer .title{ height: 31px; overflow: hidden;}
.computer .title h3{  float:left; margin:0 0 0 10px; font-size:14px; line-height:31px;color:#fff;}
.computer .title .close{ float: right; line-height:31px; margin-right:10px; color:#fff;}

.computer-mask{ width: 100%; position: absolute; top:0; display:none; z-index: 88; background:rgba(0,0,0,0.5);}

.computer .content{ overflow: hidden; padding:0 20px;}
.computer .content>div{ height: 26px; margin-top:9px;}
.computer .content span{ width: 50%;display: block; float:left; line-height:26px;}
.computer .content input{ width: 50%;display: block; float:left;}
.computer .content button{ color:#fff; text-align: center;width: 100%; height: 40px; margin-top: 10px; background:#16438d; border-radius: 5px; border:none;}
.computer .content>div:nth-of-type(5) span,.computer .content>div:nth-of-type(6) span{ color:#16438d;}
.computer .content>div:nth-of-type(5) input,.computer .content>div:nth-of-type(6) input{ background:#e7f2ff;} 

@media (max-width: 768px){
    .computer-btn{ right:10px;bottom:20px;}
    .computer-mask{ width:100%; height:100%; position: fixed; background:rgba(0,0,0,0.5);}
    .computer { position: fixed; top: calc(50% - 164px);left: calc(50% - 130px); }
    .computer .box { position: fixed; margin-left:4px;}

}
@media (min-width: 768px){
    .computer-mask{ display:none;}
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{color:#fff; background-color:transparent;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{  color:#0d3c88;}
.navbar-default .navbar-nav>li>a {  color:#fff;}
body .navbar-default.navbar a:hover{ color:#4a90e2;}
.navbar .active{ border-bottom:4px solid #fff; }
.navbar-default .logo{ line-height:0;  padding:0;}
.navbar-default .logo img{ float:left;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{ background-color:transparent;}
@media (max-width: 500px){.w100 { width:100%; margin-left:0;}}
@media (max-width: 1000px){ .navbar{ width:100%;} }
@media (max-width: 768px)
{
    
    .navbar-nav{ padding-top:0;}
    .navbar{ padding-top:0;}
    .navbar{ position: fixed; background:#012966;}
    .navbar-toggle{ top:20px;}
    .navbar .logo{ width: 120px;top:20px; margin:0; left: calc(50% - 60px);}
    .navbar-header,.navBox{ height: 66px;}
    .navbar img{ width:120px; bottom:4px; margin:0;} 
    .navbar-nav{ width: 100%;}
    .nav>li{ width:100%;}
    .navbar-collapse{ padding:0;}
    .navbar-nav{ margin:0;}
    .navbar .active{ border-bottom:none;}
    .navbar-default .navbar-nav>li>a{ border-bottom:1px solid #697993; background:#001c47;}
    .navbar-default .navbar-nav>.active>a{ background:#001c47;}
    .navbar-default .navbar-toggle{ margin-top:0;}
    .navBox .language{ display:none;}
}
@media( min-width:768px )
{   
    .navbar-nav>li>a{
        padding-top:0;
    }
}


/* 主页 */

/* 轮播 */
.page-slider{ position: relative; overflow: hidden;}
.page-slider .slide-bg{ width: 100%; height: 622px; }
.page-slider .slide-bg:nth-of-type(1){ }
.page-slider .slide-bg:nth-of-type(2){ }
.page-slider .search{ width: 50%; margin:0 auto;position: relative;left: calc(50% - 25%); }
.page-slider h4{ text-align: left; text-indent: 0.5em; color:#fff;}
.home .page-slider p{ margin-top:20%;display:block; text-align: center;  color:#fff; font-weight:bold;letter-spacing: 0.8em;}
.home .page-slider .slider-box{   position:absolute;z-index: 10; top:0; width: 100%;  height: 622px; }
.home .swiper-wrapper{ overflow: hidden; }
.home .swiper-slide:nth-last-child(n+2){ display:none\9;}
@media (max-width: 1400px){
    .page-slider .search{ width: 70%; left:calc( 50% - 35% )}
}

/* 主页-搜索栏/banner */
.home .search .drop{ overflow: hidden;}
.home .search .drop ul{ overflow: hidden; padding-left:0;}
.home .search .drop li{ float:left;}
.home .search .drop select{  padding:10px;width:100%; border-radius: 10px; text-align-last: center; color:#012966; }
.home .search .drop option{ text-align: center;}
.home .banner{ overflow: hidden; background:url("../img/banner-index-01-1920.jpg") center center no-repeat;}
.home .banner .container{  position: relative; height:622px;}
.home .banner p{ margin-top:20%;display:block; text-align: center;  color:#fff; font-weight:bold;letter-spacing: 0.8em;}
.home .banner h4{ text-align: left; text-indent: 0.5em; color:#fff;}
.home .search{  position: absolute;  border-radius: 10px; bottom:140px;  box-sizing:border-box; padding:15px 30px;  background:rgba(35, 88, 146, 0.8);}

.home .search .tx>div{
    margin-top:16px;
    overflow: hidden;
    position: relative;
}
.home .search .tx input{
    width:100%;
    border-radius: 15px;
    padding:10px 20px;
    border:none;
}
.home .search .tx button{
    width: 20%;
    position: absolute;
    right: 14px;
    top:0;
    border-radius:0 15px 15px 0;
    height:40px;
    border:none;
    color:#fff;
    background:#4a90e2;
}
@media (min-width: 768px){
    .home .navBox{ 
        background-color:transparent;
        background: -webkit-linear-gradient(rgba(154, 154, 231,0.6), rgba(255,255,255,0.5) ); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(rgba(154, 154, 231,0.6), rgba(255,255,255,0.5) ); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(rgba(154, 154, 231,0.6), rgba(255,255,255,0.5) ); /* Firefox 3.6 - 15 */
        background: linear-gradient(rgba(1, 41, 102,0.5), rgba(255,255,255,0.1) ); /* 标准的语法 */
    }
    .home .navbar{ background-color:transparent;}
    
}
@media (max-width: 500px)
{
    .w100 { width:100%; margin-left:0;}

}
@media (max-width: 768px)
{
    .home .page-slider{ height:500px; overflow: hidden;}
    .home .page-slider p{ margin-top:160px;}
    .home .navBox{ position: fixed;}
    .home .navBox,navbar,.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>li>a{  background:rgba(1,41,102,0.8);}
    .home .navBox.roll,navbar,.roll .navbar-default .navbar-nav>.active>a,.roll .navbar-default .navbar-nav>li>a{ background:#012966;}
    .home .navbar{ background-color:transparent;}
    
    body .home .banner{ background:url("../img/bg-hx-pic02.png") center center no-repeat;}
    .home .banner .logo img{ padding-bottom:15px;}
    .home .banner p{ margin-top:130px; }
    .home .search{ margin-top:0px;bottom:170px;}
    .home .search .tx>div{ margin-top:20px;}
    .home .search .tx input{ padding:6px 20px;}
    .home .search .tx button{ height:32px;width: 30%; text-align: center;}
    .page-slider .search{ width: 80%; left: calc(50% - 40%);}
}
@media screen and ( min-width:768px ) and (max-width: 1000px) {
    .home .search{ width: 80%; left: calc(50% - 40%);}
    .home .search .drop ul{ display:block;}
    .home .search .drop ul li{ margin-right:20px;}
    .home>.container{ width: 100%;}
}

/* 主页-业务 */
.business{ overflow: hidden;}
.business #myTab{ padding:20px 0 20px 0; border:none;}
.business #myTab li{ width:50%;}
.business #myTab li a{  display:inline; font-weight: bold; font-size:16px; color:#484848;}
.business #myTab li.active a{  border:none; border-bottom:3px solid #012966;color:#012966;}
.business #myTab li.active{ }
.business #myTab li:nth-child(odd) a{ float:right;}
.business #myTab li:nth-child(even) a{ float:left;}
.business a{ color:#000;border:none;}
.nav-tabs>li>a:hover{ }


#myTabContent .tab-1{}

body #myTabContent .tab-1 .bg1{ height: 528px;  background: url("../img/banner-i-01.png") center center no-repeat;background-size: cover; }
#myTabContent .tab-1 .bg2{  background: url("../img/banner-i-02.png") center center no-repeat;}
#myTabContent .tab-1 .bg3{  background: url("../img/banner-i-03.png") center center no-repeat;}
#myTabContent .tab-1 .bg4{  background: url("../img/banner-i-04.png") center center no-repeat;}
#myTabContent .tab-1 .bg5{  background: url("../img/banner-i-05.png") center center no-repeat;}
#myTabContent .tab-1 .bg{ height:264px;display:block;  background-size: cover;   }
@media (min-width: 768px){
    #myTabContent .tab-1 .bg:hover .mask{ height:53px; line-height:53px; margin-top:211px;}
body #myTabContent .tab-1 .bg1:hover .mask{ margin-top:475px;}
}


.home .business img{ width:100%;}
.home .business #myTabContent *{ padding:0;}
.home .business .mask{ width:100%; height:100%; line-height:264px; transition: 0.1s; background:rgba(0,0,0,0.5); color:#fff; font-weight: bold; font-size:20px; display: block; text-align: center;}
.home .business .bg1 .mask{ line-height:528px;}

@media (max-width: 768px){
    body #myTabContent .tab-1 .bg1{ height:300px;}
    .home .business .bg1 .mask{ line-height:300px;}
    .home .business .mask{ line-height: 150px;}
    #myTabContent .tab-1 .bg{ height:150px;}
    .business .mask{ line-height:150px;}
    .business #myTab { overflow: hidden; padding:0;}
    .business #myTab li a{  width: 100%; text-align: center; color:#4a90e2; background:#012966;  margin:0; border-radius:0;}
    .business #myTab li.active a{ border-bottom:3px solid #fff; color:#fff; }
}

/* 主页-楼房列表 */
.building{ margin-top:10px; overflow: hidden;}
.building .col-md-4:hover h5{ color:#4a90e2;}
.building .col-md-4:hover p{ color:#000;}
.building h4{ font-size:22px;margin:20px 0; font-weight: bold; color:#0d3c88; }
.building:nth-of-type(3) h4{ color:#4a90e2;}
.building a{ color:#000;}
.building img{ width:90%; margin:0 auto; display: block;}
.building h5{ padding:0 5%;font-weight: bold;}
.building p{ padding:0 5%; color:#a5a5a5;}
.building.list3{ background:#f0f0f0; padding:10px 0;}
.building.list3 h5{ padding:0 10%;font-size:20px; color:#3e639e;}
.building.list3 img{ width:80%; padding:4px 0 10px 0;}
.building.list3 p{ padding:0 10%;color:#000;}
@media (max-width: 768px){
    .building h4{ margin-left:5%;}   
}
@media screen and ( min-width:768px ) and (max-width: 1000px) {
    .home .building .col-md-4{ width: 33.3%;padding:0; float: left;}
    .home .building{ padding:0 40px;}
}

/* banner2 */
.home .banner2{ width: 100%;  height:280px;overflow: hidden; background:url("../img/banner-i-search.png") center center no-repeat; background-size:cover; text-align: center; color:#fff;}
.home .banner2 h4{ display:block;margin-top:40px; line-height:30px;font-size:24px; } 
.home .banner2 p{ display:  block; margin:20px 0;}
.home .banner2 a{ display: block; line-height: 46px;width: 40%; border-radius: 10px;  background:#4a90e2; }
@media (max-width: 768px)
{
    .home .banner2 a{ width:90%;}
}

/* 主页-客户 */
.clients{ overflow:  hidden; padding: 40px 0 40px 0;}
.clients .col-md-6{ padding:0;}
.clients h4{ padding-bottom:20px; margin:0;color:#0d3c88; font-size:28px; font-weight: bold;}
@media (max-width: 768px)
{   
    .clients a{ width: 90%;}
    .clients img{ width:80%; margin:0 auto; display:block;}
    .clients .row{ padding:0 6%;}
    .clients h4{  text-align: center; font-size:18px;}
}

.clients-slide{
    height: 140px;
    overflow: hidden;
    margin:16px 0 0 0;
	position: relative;
	overflow: hidden;
}
.clients-slide h4{
    color:#0d3c88; font-size:24px; font-weight: bold; text-indent: 0.5em;
}

.clients-slide ul{
    margin-top:50px;
	overflow: hidden;
	position:absolute;
	width: 1600px;
	left: 0;
	top: 0;
	_height:1px;
}

.clients-slide ul li{
	float: left;
	width: 160px;
}

@media (max-width: 768px)
{   
    .clients-slide{ height: 110px;}
    .clients-slide h4{ font-size:22px;}
    .clients-slide ul li{
        float: left;
        width: 120px;
    }
    .clients-slide ul li img{
        width: 80%;
    }
}

/* 关于我们 */
/* 关于我们-banner */
.about{}
.about .banner{
    width:100%;
    height: 518px;
    position: relative;
    background: url("../img/bg-hx-pic05-1920.jpg") center no-repeat;
    background-size:cover;
}
.about .banner span{ position: absolute; bottom:20px; font-size:60px;  right:60px;opacity: 0.6; color:#fff;}

/* 关于我们-文章选项卡 */
.about .tab .wrap{ background:#001c47;}
.about .jump{ overflow: hidden;padding:0 120px; border:none; background:#012966;}

.about .jump a{ border-radius: 0;}
.about .jump .active a{ }
.about .jump .active a{  height:42px;border:none;position: relative;  margin:0;background:#4a90e2; color:#fff;border:1px solid #4a90e2;}
.about .jump .active a:hover{ border:1px solid #4a90e2;}
.about .jump i{ display:none; width:22px;height: 12px; position: absolute; bottom:-4px; left:50%; margin-left:-11px;  background:url("../img/arrow-up-w.png") center no-repeat; background-size:60%}
.about .jump .active a i{ display:block;}

.about .clients-slide{ margin:0 0 10px 0; }
.about .clients-slide ul{ margin-top:40px;}

@media screen and ( min-width:768px ) and (max-width: 1000px) {
    .about .container{ width: 100%; margin:0; }
    .about .tab .container{ width: 100%;}
    .principle .col-md-4{  width: 50%; float:left;margin-bottom:20px;}
}
@media (max-width: 768px)
{   
    .about .banner{ height:350px;}
    .about .banner span{ display: none;}
    .nav-tabs>li{ width:50%; text-align: center;}
    .about .jump .active a{  height:39px;  }
    
    .about .jump a{ font-size: 12px; text-align: center}
    body .about .jump .active a i{ background-size:50%;bottom:-3px;}
    .about .jump{ padding:0;}
    .nav>li>a:focus, .nav>li>a:hover{ background:#012966; color:#fff; border:1px solid #012966;}
    
}
@media (max-width: 1000px){ .about .jump.flex-container{ display: block;} }
/* 关于我们-买卖/租凭 */
.about .business{ padding:30px 10px 20px 10px;  background:#f5f5f5; }
.about .business ul{ padding:0;}
.about .business li { padding:0;}
.about .business li i{ width: 102px;height: 102px;margin-bottom:10px; display: block;}
.about .business .l1 i{  background:url("../img/icon-1-01.png") center no-repeat;}
.about .business .l2 i{  background:url("../img/icon-1-02.png") center no-repeat; }
.about .business .l3 i{   background:url("../img/icon-1-03.png") center no-repeat;}
.about .business .l4 i{  background:url("../img/icon-1-04.png") center no-repeat;}
.about .business p{ text-align: center; color: #012966; font-size:12px;}
.about .business .mask{ width: 102px; height: 102px; border-radius: 50%;  background:#ccc; }
@media (max-width: 768px)
{   
    .about .business p{ font-size:10px;}
}

/* 关于我们-服务 */
.service{ overflow: hidden;}
.service>div{ height: 502px; background:red;}
.service>div:nth-child(odd){ background:url("../img/service-1.png") center no-repeat; background-size:cover; }
.service>div:nth-child(even){ padding:10px 20px;line-height:24px; color:#fff; background:#012966;}
.service>div:nth-child(even) h4{ font-size:24px; }
@media (max-width: 768px)
{   
    .service>div:nth-child(odd){ height:400px;}
    .service>div:nth-child(even){ height: auto;}
}

/* 关于我们-我们的原则 */
.principle{ overflow: hidden; }
.principle h4{ color:#0d3c88; display: block; text-align: center; font-size:24px; font-weight: bold; margin:30px 0;}
.principle .col-md-4{ height: 208px; background:red; background-size:cover;}
.principle .col-md-4:nth-of-type(1){ background:url("../img/Bitmap-p-04.png") center no-repeat;}
.principle .col-md-4:nth-of-type(2){ background:url("../img/Bitmap-p-05.png") center no-repeat;}
.principle .col-md-4:nth-of-type(3){ background:url("../img/Bitmap-p-06.png") center no-repeat;}
.principle .mask{ width:310px; line-height:208px;text-align: center; color:#fff; font-weight: bold; font-size:22px; height:100%; background:rgba(0,0,0,0.5);transition: 0.2s;}
.principle .col-md-4:hover .mask{ height:56px; line-height:56px; margin-top:152px;}

/* 关于我们-pic */
.com-pic{ overflow: hidden; text-align: center; color:#fff; }
.com-pic .col-md-6{ padding:0;}
.com-pic .pic-1{ height:485px; line-height:485px; background:url("../img/banner-c-01@1.5x.png") center center no-repeat; background-size:cover;}
.com-pic .pic-2{ height: 231px; line-height:231px;  background:url("../img/banner-c-02@1.5x.png") center center no-repeat; background-size:cover;}
.com-pic .pic-3{ height: 254px; line-height:254px; background:url("../img/banner-c-03@1.5x.png") center center no-repeat; background-size:cover;}
.com-pic .hov{ overflow: hidden;}
.com-pic .col-md-6>div{}
.com-pic .col-md-6 .mask{ width: 100%; height: 100%; background:rgba(0,0,0,0.6);text-indent: -999px; }
.com-pic span{ display: none;}
.com-pic .hov:hover .mask{ line-height:68px;  width: 80%;  height: 68px; display: inline-block; vertical-align: middle;text-indent: 0;}
@media (max-width: 768px)
{   
    .com-pic .pic-1{ height: 300px;}
    .com-pic .pic-1 .mask{ margin-top:120px;height: 68px;line-height:68px; }
    .com-pic .pic-2{ height: 150px; }
    .com-pic .pic-2 .mask{ margin-top:50px; height:50px; line-height: 50px; }
    .com-pic .pic-3{ height: 150px;}
    .com-pic .pic-3 .mask{ margin-top:50px; height:50px; line-height: 50px;}
    .com-pic .hov .mask{  width: 80%;   text-indent: 0;}
}

/* 关于我们-纯文字板块 */
.about .text{ text-align: center; margin:40px 0 20px 0; }
.about .text h4{ color:#0d3c88;font-weight: bold; font-size:24px;}
.about .text p{ padding:0 20px; text-align: left;}

/* 关于我们 页尾BANNER */
.foot-banner{ width:100%; height:138px; background:url("../img/about-banner3.png") center no-repeat;}

/* 详情页-头部/搜索栏 */
.details{ }
.head-search{  overflow: hidden; height: 199px; margin-top:83px; background: url("../img/bg-hx-pic03-1920.jpg") center;}
.head-search .search{ margin-top:90px; padding-top:28px; padding-bottom:28px; width: 90%;overflow: hidden;  background:rgba(0,0,0,0.6);}
.head-search .search .tx{  width: 90%; height:40px; overflow: hidden;}
.head-search .search .tx input{ float:left;width: 70%; height: 100%;padding-left:20px; border:none; font-size:12px; border-radius: 0;}
.head-search .search .tx button{ float:left;width: 30%; height: 100%;background:#4a90e2; color:#fff; text-align: center; border:none; border-radius: 0 10px 10px 0;}

.head-search .search .search-label{ width: 90%;overflow: hidden; padding-top:8px;height: 43px; font-size:12px;}
.head-search .search .search-label span{ float:left;color:#fff;}
.head-search .search .search-label ul{ padding:0;float:left;}
.head-search .search .search-label li{ float:left;margin-right:6px;}
@media (max-width: 768px){
    .head-search{ margin-top:66px;}
    .head-search .search{ width: 100%;margin-top:113px; padding:14px 0 10px 0; }
    .head-search .search .search-label{ height:22px;}
}

/* 详情页-左侧 */
.details .content{ overflow: hidden;}
.details .breadcrumb{ border-bottom:1px solid #ccc; border-radius: 0; padding-top:30px;}
.details .content .l{}
.details .content .l .pic {}
.details .content .l .pic a>h4{  font-weight: bold;font-size:20px; color:#4a4a4a;}
.details .content .l .pic a>p{ margin-bottom:30px; font-size:18px; color:#25487c; font-weight: bold; }
.carousel-control.left,.carousel-control.right{ background-image:none;}
.carousel-control.left{ background:url("../img/arrow-left.png") center no-repeat;}
.carousel-control.right{ background:url("../img/arrow-right.png") center no-repeat;}

.details .info{ overflow: hidden;}
.details .info h4{ display: block; border-bottom:2px solid #e8e8e8; padding:10px; font-weight: bold; }
.details .info>div{ overflow: hidden; margin-top:6px;}
.details .info dl{ display: block;overflow: hidden;}
.details .info dt{ float:left;width: 90px; padding-right:10px; font-weight: normal;}
.details .info dd{ float:left;margin-left:20px; color:#9f9f9f; }



.details .data{}
.details .go{ position: relative;margin:8px 0; display: block; width: 100%; height: 56px; overflow: hidden; line-height: 56px; text-align: center; background:#4a90e2; font-size:22px;color:#fff; border-radius: 10px; font-weight: bold;}
.details .go a{ width: 100%; height: 100%; display: block; }
.details .go i{ display: block; width: 20px; height: 32px;background:url("../img/arrow-d-w.png") center no-repeat; position: absolute; right:40px; top:14px;}

/* 左侧-其它 */
.building-list{ overflow: hidden; margin-top:20px; }
.building-list .title{ width: 100%;overflow: hidden;padding:0 20px;}
.building-list .title h4{ float:left; margin-bottom:20px; color:#012966; font-weight: bold;}
.search-result .title h4{ color:#4a4a4a;}
.search-result .title h4 span{ color:#bd10e0;}
.building-list .title a{ display:block;margin-top:6px; float:right; color:#4a4a4a;}

.building-list ul.box{ padding:0; overflow: hidden;}
.building-list ul.box li{ 
    overflow: hidden;padding:28px 40px; border-top:1px solid #d8d8d8;background:#fff;}

.building-list ul.box li:nth-child(even){ background:#f8f8f8;}
.building-list ul.box a{ color:#000;}
.building-list .pic{ position: relative; padding:0;}
.building-list .pic img{ width: 100%;}
.building-list .pic .price-sub{ width: 200px;height: 60px; padding:10px 0 0 40px; background:url("../img/price.png") center no-repeat; background-size:100%; position: absolute; bottom:-2px; right:0; }
.building-list .pic .price-sub span{ display: block; color:#fff;}

.building-list .content{ padding-left:30px;}
.building-list .content h4{ margin-top:16px; font-weight: bold;}
.building-list .content p{ color: #9b9b9b;font-size: 13px; font-weight: 500;}
.building-list .content p:nth-of-type(4){  font-size:12px;}
.building-list .content p:nth-of-type(2){ margin-bottom:2px;}
.building-list .content span{ color:#143971; font-weight: bold;}
@media (max-width: 768px){
    body .main .building-list ul li{ padding-bottom:20px; background:#fff;}
    .building-list ul.box li:nth-child(even){ background:#fff;}
    .building-list .content{ padding-left:0;}
    body .main .building-list .see{ display: block; overflow: hidden;  width: 100%; height: 40px;line-height:40px;margin-top:6px; border-radius: 10px;text-align: center;  border:1px solid #d8d8d8;  background:#f8f8f8; font-weight: bold;  color:#9b9b9b;}
}
@media screen and ( min-width:768px ) and (max-width: 1000px) {
    .building-list .title{ border-bottom:1px solid #d8d8d8; }
    .building-search>.content{ width: 100%;}
    .building-list ul.box li{ width: 50%;float:left; background:#fff;  margin-top:-2px; border-bottom:1px solid #d8d8d8; }
    .building-list ul.box li:nth-child(odd){ border-right:1px solid #d8d8d8;}
    .building-list ul.box li:nth-child(even){ background:#fff;}
    .building-list .content{ }
    .building-contact>div { width: 50%; float:left;}
    .pagination{ margin-left:5%; }
}

/* 详情页-右侧 */
.details .content{}
.details .content .r{ overflow: hidden; }


/* 详情页-右侧-联系方式 */
.details .contact{ background:#f8f8f8; overflow: hidden;}
.details .contact{ padding:20px 0 10px 0; margin-top:10px;}
.details .contact img{ display: block; margin:0 auto;  border:1px solid #d8d8d8;}
.details .contact h3{ text-align: center; color:#4a90e2; font-size:20px; font-weight: bold;}
.details .contact h4{ margin-bottom:16px; text-align: center; color:#012966; font-weight: bold;}
.details .contact>div{ overflow: hidden; width:70%; margin:0 auto;}
.details .contact p{ font-size:12px;width: 70%; float:left;  }
.details .contact span{ display: block; float:left;  width:30%; font-size:12px;text-align:justify;}
@media (max-width: 768px){ .details .contact{ padding:10px 10% 30px 10%;} }
@media screen and ( min-width:768px ) and (max-width: 1000px){
    .details .contact{ width:50%;}
}


/* 详情页-右侧-周边房源 */
.building-sub-li{ margin-top:20px; overflow: hidden;} 
.building-sub-li h4{  padding:10px 0; margin:0; border-bottom:1px solid #d8d8d8; color:#012966; font-weight: bold; font-size:16px;}
.building-sub-li ul{}
.building-sub-li li{ width: 100%;overflow: hidden;border-bottom:1px solid #d8d8d8; padding:18px 0;}
.building-sub-li a{ color:#9b9b9b;}
.building-sub-li img{ float:left; width: 40%;}
.building-sub-li .content{ float:left;width: 60%; padding-left:10px;box-sizing: border-box;}
.building-sub-li .content span{ padding-bottom:10px;padding-top:5px;overflow: hidden; color:#000; display: block; font-size:13px; font-weight: bold;}
.building-sub-li .content p{ overflow: hidden; display: block; font-size:12px;}
.building-sub-li .content p:nth-of-type(2){ margin-bottom:0;}
@media (max-width: 768px){
    .details .around .content span{ padding-top:16px;}
}
@media screen and ( min-width:768px ) and (max-width: 1000px){
    .building-sub-li li{ width:50%; float:left;}
}

/* 楼房搜索 */
/* 楼房搜索-筛选楼房 */
.building-search .content{ overflow: hidden;}

.building-search #myTabContent{ padding:6px 0;}
.building-search .screen{ padding-top:26px; padding-bottom:10px;}
.building-search .screen { background:#f8f8f8;}

.building-search .screen #myTab{ width:90%; margin:0 auto;}
.building-search .screen #myTab a{ color:#9d9d9d;background-color:#d8d8d8; padding-left:30px; padding-right:30px;}
.building-search .screen #myTab .active a{  color:#fff;background-color:#012966; border-top:1px solid #012966; border-bottom:1px solid #012966; }

.building-search .screen select{ width: 80%; margin:0 auto; margin-top:10px; color:#9b9b9b; text-align-last: center;}

.building-search .screen .row{ margin:0;}
.building-search .screen dl{ margin:0 auto; width: 90%; display: block;overflow: hidden; height: 40px;}
.building-search .screen dt{ width:60px;height:40px; line-height:40px; float:left; font-size:12px;}
.building-search .screen dd{ float:left; margin-right:16px; }
.building-search .screen dd a{ line-height:40px; font-size:12px; color:#9c9c9c;}
.building-search .screen dd a.active{ color:#4d92e2;}

.building-search .screen .row{ position: relative; }
.building-search .screen .company *{ float:left; height:26px;margin-left:10px; line-height:26px;}
.building-search .screen .company{ width: 309px; height: 46px; padding:9px 0;position: absolute; right:10%; top:0; border:1px solid #979797; background:#fff; color:#9b9b9b;}
.building-search .screen .company input{ width: 71px; height: 24px;}
.building-search .screen .company a{ width: 53px; height: 24px; line-height:24px;float:left; display:block;text-align: center; background:#4a90e2; font-size:12px;}
.building-search .screen .custom{ width: 89px; height:24px;text-align: center;display:block; position: absolute; right:10%; top:-10px; font-size:12px;}
.building-search .screen .row:nth-of-type(6) dl{ margin-top:-10px;}

.building-contact{ margin-top:30px;}
.building-contact>div{ margin-bottom:20px;}
.building-contact img{ width: 50%; margin:0 auto; display: block;}
.building-contact p{ margin:10px 0 0 0; text-align: center; color:#9b9b9b; font-weight: bold; font-size:20px;}
@media (max-width: 768px)
{   
    .building-search #myTab{} 
    .building-search #myTab li{ width: 40%;}
    .building-search #myTab li:nth-of-type(1){ margin-left:10%;}
}


/* 进入大厦 */
/* 进入大厦-头部 */
.building-info{ }
.building-info .banner .container{ position: relative; overflow: hidden;height: 367px; }
.building-info .content{ overflow: hidden;}
.building-info .banner{ position: relative; width: 100%;height: 367px; margin-top:83px; background:url(../img/bg-hx-pic04-1920.jpg) center no-repeat; background-size:cover; }
.building-info .banner h1{ margin:0; width: 845px;height: 111px; display: block; position:absolute; bottom:128px;background:url("../img/bg-building-name.png") center no-repeat; color:#fff; line-height:111px; text-indent: 1em; font-size:30px;}
.building-info .banner h1 *{ float:left;}
.building-info .banner ul{ overflow: hidden; position: absolute; bottom:47px; right:70%;}
.building-info .banner li{ float:left; width: 149px; line-height:29px; height: 29px; border-radius: 10px; margin-right:10px; font-size:13px; color:#fff; background:#bd10e0; text-align: center; }
.building-info .banner li:nth-of-type(2){ background:#0679ff;  }

/* 进入大厦-轮播图部分 */
.building-info .swiper-container {
    width: 90%;
    height: 300px;
    margin: 20px auto;
}
.building-info .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* .swiper-container{ overflow:visible; }
.swiper-wrapper { } */
.building-info .swiper-container{ height: 250px; margin-top:0; }
.building-info .slide-list{ position: relative;}
.building-info .slide-list h3{ border-bottom:1px solid #d8d8d8;  padding-bottom:12px;margin-bottom:0; text-indent: 7%;  font-size:18px;font-weight: bold;}

.building-info .swiper-container img{
    width:90%; margin:0 auto;
}
.building-info .swiper-container a{ color:#000;}
.building-info .swiper-container h4,.building-info .swiper-container span{ text-align: left; width:90%; display:block;}
.building-info .swiper-container h4{ margin-bottom:6px; text-align: left; color:#5b5555; font-size:13px; }
.building-info .swiper-container span{ color:#012966; font-size:12px; text-align: left;}

.building-info .swiper-button-next{ top:45%; }
.building-info .swiper-button-prev{ top:45%;}

@media (max-width: 768px)
{   
    .building-info .banner{ margin-top:74px;}
    .building-info .banner h1{ bottom:0; font-size:16px; text-align: left;}
    .building-info .banner h1 *{ display: block;width: 100%;  line-height: normal; font-size:20px;}
    .building-info .banner h1 span{ margin-top:24px; }
    .building-info .banner h1 p{ margin-top:10px;}
    .building-info .banner ul{ bottom:50px; right:5px; }
    .building-info .banner ul li{ width: 100px; font-size:12px; }

    .building-info .slide-list h3{  text-indent: 0; border-bottom:0; border-top:1px solid #d8d8d8; padding:20px 0 0 0;}
    .building-info .swiper-container{ width: 100%; height:200px;}
    .building-info .swiper-container h4{}
    .building-info .swiper-container span{ color:#cb7580;}
}
/* 进入大厦-物业信息 */
.building-info .property{ overflow: hidden;  overflow: hidden; background:#f8f8f8;}
.building-info .property .wrap{ width: 90%; margin:0 auto;}
.building-info .property h3{ display: block; border-bottom:1px solid #012966; width: 100%; padding:10px 0; color:#012966; font-weight: bold; font-size:20px;}
.building-info .property p{ display: block; padding-bottom:6px;margin-bottom:20px; border-bottom:1px solid #d8d8d8;}
.building-info .property .info{}
.building-info .property .info>div{}
.building-info .property dl{ overflow: hidden;}
.building-info .property dt{ float:left; width: 100px; font-weight: normal; font-size:14px; }
.building-info .property dd{ float:left; color:#a2a2a2; font-weight: 400;  font-size:13px; }  

/* 表单页 */
.building-form{}
.building-form .foot-wrap{ margin-top:0;}
.building-form .bgWrap{ height: 910px; width: 100%; background:url("../img/bg-hx-pic02-1920.jpg") center no-repeat;}
.form-2 .bgWrap{ background:url("../img/bg-hx-pic01-1920.jpg") center no-repeat;}
.building-form .bgWrap .content{ overflow:hidden; margin-top:83px;  background-size:cover;}

.building-form .wbox{ width:80%; margin-top:20px; border-radius: 10px; overflow: hidden; background:rgba(242,243,245,0.92);}
.form-2 .wbox{ margin-top:100px;}

.building-form .bgWrap .title{ padding-bottom:15px; width: 100%; border-bottom:1px solid #9b9b9b; overflow: hidden; text-align: center;}
.building-form .bgWrap .title h2{ margin-top:30px; position: relative; color:#012966; font-size:22px; font-weight: bold; }
.building-form .bgWrap .title h2 a{ right:5%;top:8%;  position: absolute;  font-size:13px; color:#acacac;}
.building-form .bgWrap .title p{ margin:12px 0 0 0; overflow: hidden; display: block; color:#4a90e2; }

.building-form .bgWrap .content ul{width:70%; margin:0 auto;overflow: hidden; margin-top:16px;}
.building-form .bgWrap .content ul li{ float:left; width:25%; overflow: hidden; position: relative;}
.building-form .bgWrap .content li img{ width:40%;display: block; margin:0 auto;}
.building-form .bgWrap .content li p{ margin-top:8px; text-align: center; color:#9c9c9c;}
.building-form .bgWrap .content li i{ display: block; width: 10%; height: 50px; position: absolute; right:0; top:20px; background:url("../img/arrow-right.png") center no-repeat; background-size:cover;}

.building-form .item{ }
.building-form .item form{}
.building-form .txF{ width: 70%; margin:0 auto; padding-bottom:10px; overflow: hidden;}
.building-form.form-1 .item-inp{ width: 100%; position: relative; height: 40px; margin-top:14px; padding-bottom:20px;}
.building-form .item-inp span{ display: block; float:left; width: 20%;margin-right:16px; text-align: right; font-size:13px; line-height:36px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.building-form .item-inp .drop{display: block; float:left; width: 20%;height: 36px; margin-right:16px; text-align: right; font-size:13px; line-height:36px; }
.building-form .item-inp select{ margin: 0; float:right; height:34px; width:70%; text-align-last: center;}
.building-form .item-inp option{ width: 40px; text-align: center;}
.building-form .item-inp input{ float:left;height:34px;border:1px solid #bcbcbc;  padding:0 10px;}
.building-form .item-inp p{ float:left; margin-left:6px; line-height:36px; color:#a0a0a0; font-size:12px; }
.building-form .subF{ width: 100%;  padding:30px 0; border-top:1px solid #d8d8d8;}
.building-form .subF input{ width: 320px; height:56px;border:none;margin:0 auto;  display: block; line-height:56px; color:#fff; background:#4a90e2; font-size:16px; }
.building-form.form-1 .item-inp:nth-of-type(1) input,.building-form.form-1 .item-inp:nth-of-type(2) input{ width:60%; }
.building-form .item-inp strong{ height:34px; margin-left:10px; line-height:34px; color:red; font-size:12px; }
.building-form .item-inp button{ line-height:32px; margin:0 0 0 6px; padding:0 8px; border:1px solid #bcbcbc;  }
.building-form .item-inp button[disabled]{ color:#bcbcbc;}


.form-2 .item-inp{    position: relative; height: 36px; margin-top: 14px;padding-bottom: 20px;}
.form-2 .item-inp span{ }
.form-2 .item-inp input{ width: 70%;}
.form-2 .item-inp strong{ position: absolute;top:0; left:20%; margin-left:25px; top:25px;}
.form-2 .code{ }
.form-2 .code-w img{ width: 122px; height: 34px; position: absolute; top:0;}
.form-2 .code-w button{ color:#9b9b9b; position: absolute; top:0;background:transparent; right:-137px; border:none;}
.form-2 .item-inp i{ position: absolute; left:20px; top:10px; color:red;}

@media (max-width: 768px){
    .building-form .bgWrap{ height:auto;}
    .building-form .bgWrap .title h2{ margin:10px 0 0 0;}
    .building-form .bgWrap .title p{ margin-top:6px;}
    .building-form .bgWrap .content{ margin-top:66px;}
    .building-form .bgWrap .content{ margin-top:66px;}
    .building-form .wbox{ width: 100%; border-radius: 0; margin-top:0;}
    .building-form .txF{ width: 100%;}
    .building-form .bgWrap .content ul{ width: 100%; padding:0 10px;}
    .building-form .bgWrap .content li p{ font-size:12px;}
    .building-form .bgWrap .content li i{ top:10%;width: 10%; height:30px;}
    .building-form .item-inp span,.building-form .item-inp .drop{ width: 25%;}
    .building-form .item-inp strong{ position: absolute;left:25%; bottom:-20px; margin-left:16px;}
    .building-form .item-inp:nth-of-type(8) input{ width: 87.5px;}
    .building-form .item-inp:nth-of-type(8) button{ width: 81.5px; font-size:12px; padding:0 1px; }
    .building-form .title p{ padding:0 20px; text-align: left;}
    .building-form .title h2{ margin-top:18px;}
    .building-form .subF input{ height:40px; line-height:40px;}
    .form-2 .item-inp i{ left:30px;}
    .form-2 .item-inp span{ width: 20%;}
    .form-2 .item-inp input{ width: 70%;}
    .form-2 .code-w input{ width:30%;}
    .form-2 .code-w button{ right:auto; margin-left:120px;}
}
@media screen and ( min-width:768px ) and (max-width: 1000px) { 
    .building-form .bgWrap .content li i{top:10px; right:0;height:30px;  width: 15%;}
    
    .form-2 .code-w input{ width: 30%;}
    .building-form .bgWrap .content{ width:90%;}
    .building-form .wbox{ width: 100%;}
    .form-2 .item-inp.hidden-xs{ display:none;}
    .form-2 .code-w img{ width:19%;}
    .form-2 .code-w button{ position: static; margin-left:20%;}
}


/* 新闻-列表 */
/* .news{}
.news .title{ padding:0 10px; border-bottom:1px solid #4a4a4a;overflow: hidden; line-height:45px;}
.news .title h4{ margin:0;line-height:45px; float:left; color:#365686; font-size:14px; font-weight: bold;}
.news .title a{ float:right;line-height:45px; color:#9b9b9b;font-size:12px;} */
.news .breadcrumb,.transaction .breadcrumb{  margin:20px 0 10px 0; color:#012966;}
.news>.content,.transaction>.content{ overflow: hidden; margin-top:83px; background:#f5f5f5;}
.news .container{}
.news .crumbs{}
.news .crumbs li{}
.news .news-list,.transaction .transaction-list{ padding:20px 40px; background:#fff;}
.news .news-link,.transaction .transaction-link{ height:40px; line-height:40px;}
.news .news-link a,.transaction .transaction-link a{ color:#000;overflow: hidden;display: block;}
.news .news-link a:hover,.transaction .transaction-link a:hover{ color:#012966;}
.news .news-link p,.transaction .transaction-link p{ float:left;}
.news .news-link span,.transaction .transaction-link span{ right:0; float:right;}
.news footer{ margin-top:0;}

.news-details .article{}
.news-details .article h1{ color:#5e5e5e; font-size:24px;}
.news-details .article span{ margin-bottom:6px; display: block; color:#9b9b9b; font-size:13px; }
.news-details .article p{ color:#4a4a4a; font-size:12px; line-height:22px;}

/* 交易记录 */
.transaction .center-box{ width: 100%; height: 54px;}
.transaction .top-w{ float: left; position: relative;left: 50%;  }
.transaction .region{ margin:0 auto; float:left; padding:16px 0 6px 0; font-size:16px; position: relative;overflow: hidden; float: left; position: relative;left: -50%;}
.transaction .region li{ float: left; text-align: center; padding:0 4px 8px 4px; margin-right:6px; text-align: center;}
.transaction .region li a{ color:#9b9b9b;}
.transaction .region li a:hover{ color:#4a90e2; }
.transaction .region .active{ border-bottom:2px solid #4a90e2;}
.transaction .region .active a{  color:#4a90e2;}
.transaction .sub-reg{ background:#fff; border-bottom:1px solid #d8d8d8; padding:20px 40px;}
.transaction .sub-reg a{ margin-right:8px; color:#4a4a4a; text-align: center; font-size:12px;}
.transaction .sub-reg .active{ color:#4a90e2; }
.transaction .sub-reg a:hover{color:#4a90e2; }

@media (max-width: 768px){

    /* .news{}
.news .title{ padding:0 10px; border-bottom:1px solid #4a4a4a;overflow: hidden; line-height:45px;}
.news .title h4{ margin:0;line-height:45px; float:left; color:#365686; font-size:14px; font-weight: bold;}
.news .title a{ float:right;line-height:45px; color:#9b9b9b;font-size:12px;} */
    .news .breadcrumb{ padding:0 10px; margin:0; position: relative; border-radius: 0; border-bottom:1px solid #4a4a4a;overflow: hidden; line-height:45px;}
    .news .breadcrumb li{ margin:0;line-height:45px;  color:#365686; font-size:14px; font-weight: bold; }
    .news .breadcrumb li a{ color:#9f9f9f;}
    .news .breadcrumb>.roll:before{ display:none; } 
    .news .breadcrumb .roll{position: absolute; right:5%; top:0; font-weight: normal; font-size:12px; }

    .news>.content, .transaction>.content{ margin-top:66px;}
    .news .content, .transaction .content{ background:#fff;}
    .transaction .region{ padding-bottom:0; padding-top:22px;}
    .news .news-list, .transaction .transaction-list{ padding:10px 0 0 0;}
    .transaction-link,.news-link{ padding:0 20px;border-bottom:1px solid #e8e8e8;}
    .news .news-link, .transaction .transaction-link{ height:60px;}
    .news .news-link span, .transaction .transaction-link span{ float:left; width: 100%; height: 30px;position: relative; bottom:28px;font-size:13px; color:#9d9d9d;}
    .transaction .sub-reg{ background:#f5f5f5; padding:10px 0;display: -webkit-flex;display: flex;}

    .news-details .article h1{ margin-bottom:6px;font-size:18px; font-weight: bold; }
    
    .news-details .article{ padding:10px 20px;}
}

/* 楼房搜索-搜索结果 */
.building-search>.content{ background:#fff;}

/* 楼房搜索-右侧 */
.building-search .around h4{ border-bottom:1px solid #d8d8d8; margin-top:33px; padding-bottom:16px; color:#012966; font-weight: bold;}

/* footer */
.foot-wrap{ width: 100%; height: 278px;box-sizing: border-box;margin-top:10px; padding-top:40px; background: url("../img/footer.png") center;}
.foot-wrap a{ color:#939393;}
.foot-wrap ul{ overflow: hidden; padding:0; }
.foot-wrap li{  width: 20%; float:left; box-sizing: border-box; border-right:1px solid #404040; padding:0 10px 0 0; text-align: center;}
@media (max-width: 600px)
{   
    .foot-wrap a{ font-size:12px;}
}
@media (max-width: 768px)
{   
    body .foot-wrap li{ width:33.3%; margin-top:25px;}
    body .foot-wrap li:nth-of-type(3){ border:none;}
    body .foot-wrap{ padding-top:4px;}
}



