

.main .article-r{ width:398px; height:700px;margin-bottom:18px; float:right;border:1px solid #f1f1f1;}
.article-r .title{ width:398px;height:64px; border-bottom:1px solid #cacaca;}
.article-r .title h5{ float:left;width:100px;height:27px;font-size:16px; background:url(../img/icon.png) no-repeat 0 -81px;padding-left:30px;line-height:27px;margin:24px 0 0 24px;}
.article-r .title a{ float:right; font-size:12px; color:#bbbbbb; margin:32px 30px 0 0;}
.article-r ul{ padding:0 20px 0 30px;}
.article-r li{ position:relative; padding:10px 0;}
.article-r li a{ color:#555555; }
.article-r li a{ height:42px; overflow: hidden; display: block;}
.article-r li a:hover{ text-decoration: dashed; text-decoration: underline;color:#0171bd;}
.article-r li i{ font-style: normal;color:#0968ac; position:absolute; left:-20px;}

.main .scanning{ width:398px; height:260px;  float:right; border:1px solid #f1f1f1;}

.character-info{ width:708px;  float:left;border:1px solid #e1e1e1; padding:32px;}
.main{ width:1190px; margin:0 auto; padding-top:25px;overflow: hidden;}
.main .slider{  float:left;background:#000; width:294px; height:427px;overflow: hidden; position:relative;}
.main .slider ul{ width:9999px; height:454px; position:absolute;}
.main .slider ul li{ float:left; position:relative;}
.main .slider ul li img{ width:294px; height:427px;}
.main .slider ul a{}
.main .slider ol{position:absolute;bottom:21px;}
.main .slider ol li{ width:10px;height:10px; float:left; background:#fff; border-radius: 5px;margin-right:12px;}
.main .slider ol .active{ background:#006ec0;}
.main .slider .next,.main .slider .prev{ width:47px; height:65px; opacity: 0.4;background:#000; position:absolute;top:172px; font-size:40px;color:#fff;line-height:60px; text-align: center; cursor:pointer;display:none;}
.main .slider .next{ left:20px;}
.main .slider .prev{ right:20px;}
.main .slider p{ display:block; width:294px;height:60px; background:#000;left:0; position:absolute;bottom:0; opacity: 0.8;color:#fff; line-height:60px; text-align: center;}

.column-r{ width:416px; float:right; }

.character-info .cha-attr{ width:371px;height:427px;float:left;padding-left:24px;}
.cha-attr .name{ font-size:22px;padding-bottom:25px;}
.cha-attr .name span{ font-size:16px;}
.cha-attr dl{ padding-bottom:10px;overflow: hidden;}
.cha-attr dt{ float:left;width:120px; font-weight: bold;}
.cha-attr dd{ width:240px;float:right;color:#515151;}
.introduce{ width:687px; float:left;padding:24px;}
.introduce dl{ padding-top:30px;}
.introduce dl i{ width:15px;height:18px; background:url(../img/icon.png) no-repeat 0 -184px;display:block;float:left;margin-left:-24px;}
.introduce dt{ font-size:18px;padding-bottom:10px;}
.introduce dd{ text-indent: 2em; line-height:26px; color:#575757;}
.introduce p{ color:#575757;}

.new{ width:771px; height:240px; float:left; border:1px solid #f1f1f1; margin-top:35px;}
.new .title{ width:100%;height:41px; background:#f1f1f1;}
.new .title div{ width:159px;height:41px;background:#016db8; color:#fff; text-align: center;line-height:41px;float:left;}
.new .news{ width:712px; height:140px;padding:30px;}
.new img{ float:left;}
.new dl{ width:520px;height:140px;float:right;}
.new dt{ font-size:18px;padding-bottom:5px;}
.new dt span{}
.new dd{ color:#454545;line-height:26px; height:100px;overflow: hidden; }
.new dl dd a{ color:#afafaf; position:relative;top:0;}

.more{  float:right;margin:12px 20px 0 0; font-size:12px;width:38px;height:16px;}
.more span{ float:left;color:#bcbcbc;}
.more i{ display:block; float:right;background:url(../img/icon.png) no-repeat 0 -280px;width:12px;height:12px; margin:2px 0 0 2px;}
