@charset "utf-8";
/* CSS Document */
.help_box{
	width:800px;
	position:relative;
	margin:20px 0 0 30px;
	padding-bottom:20px;
	border-bottom:1px dashed #e7eaec;	
}
.help_box h5{
	font-size:14px;
	line-height:24px;
	cursor:pointer	
}
.help_box .up{
	width:16px;
	height:16px;
	position:relative;
	background:url(../images/sx.png) no-repeat 0 -84px
}
.help_box .down{
	background:url(../images/sx.png) no-repeat 0 -103px
}
.help_box h5 b{
	float:left;
	position:relative;
	width:560px;
	margin:-3px 0 0 30px;	
}
.help_box .hp_cont{
	padding:10px 20px 0 30px;
	clear:both;
	display:none;	
}
.help_box .hp_cont p{
	line-height:26px;	
}