<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!--frame-->
    <script src="JS/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.5.0/angular.min.js" type="text/javascript"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.5.0/angular-route.min.js" type="text/javascript"></script>
    <link href="Page/Home/css/home.css" rel="stylesheet" type="text/css"/>
    <!--frame-->

    <!-- style -->
    <link href="index.css" rel="stylesheet" type="text/css"/>
    <!-- //style -->

    <!-- Js -->
    <script src="JS/index.js" type="text/javascript"></script>
    <script src="common/services/Home.js" type="text/javascript"></script>
    <!-- //Js -->

</head>
<body ng-controller="public">

<!--header -->
    <div id="header">
        <div class="top-link">
            <div class="tool">
                <div class="sub w-980">
                    <ul class="path">
                        <li class="home"><i></i><a href="#">主站</a></li>
                        <li><a href="javascript:void">画友</a></li>
                        <li><a href="javascript:void">游戏中心</a></li>
                        <li><a href="javascript:void">直播</a></li>
                        <li><a href="javascript:void">周边</a></li>
                        <!--<li class="new"><i></i><a href="#">日本游</a></li>-->
                    </ul>
                    <ul class="user">
                        <li><a href="javascript:void">登录</a></li>
                        <li><a href="javascript:void">注册</a></li>
                        <li class="active"><i><a href="javascript:void">投稿</a></i></li>
                    </ul>
                </div>
            </div>
            <div class="wrap w-980">
                <div class="search">
                    <a href="javascript:void" class="ranking">
                        <i></i>
                        排行榜
                    </a>
                    <form>
                        <input class="se_tx" type="text" value="{{ddaa}}"/>
                        <!--<input class="btn" type="submit"/>-->
                    </form>
                </div>
            </div>
        </div>
        <div class="nav w-980">
            <ul>
                <li class="home click fir on">
                    <a href="#home">
                        <i></i>
                        <h5>首页</h5>
                    </a>
                </li>
                <li ng-repeat="data in nav" class="{{$index>2? 'off ' : 'on'}} f" myname="{{data.name}} ">
                    <a ng-href="{{data.link}}">
                        <i>100</i>
                        <h5>{{data.title}}</h5>
                    </a>
                    <ol>
                        <li ng-repeat="d in data.list.area">
                            <a ng-href="{{d.link}}"><span>></span>{{d.t}}<span class="r"><</span></a>
                        </li>
                    </ol>
                </li>
            </ul>
            <div class="live">
                <a href="javascript:void">广场</a>
                <a href="javascript:void" class="active">直播</a>
            </div>
            <a href="javascript:void" class="hot"><img src="img/dianshi.gif"/></a>
            <a href="javascript:void" class="phone"></a>
        </div>
        <div class="sub_nav">
            <ul ng-repeat="data in nav">
                <li class="active"><a ng-href="{{data.link}}">全部</a></li>
                <li ng-repeat="d in data.list.area"><a ng-href="{{d.link}}">{{d.t}}</a></li>
            </ul>
        </div>
    </div>
<!--//header-->
<img src="img/bloding.gif" class="loding" ngs-butterbar style="width:128px;height:15px; z-index:99; background:#000; position:fixed; top:350px; left:500px;  display:none;"/>
<!-- view -->
<div ng-view ng-controller="home"></div>
<!-- //view -->

<!--footer -->
<div id="footer">
    <div class="sub">
        <ul class="about">
            <li class="f-l first">
                <h5>Bilibili</h5>
                <ul>
                    <li><a href="javascript:void">关于我们</a></li>
                    <li><a href="javascript:void">友情链接</a></li>
                    <li><a href="javascript:void">联系我们</a></li>
                    <li><a href="javascript:void">加入我们</a></li>
                </ul>
                <a href="javascript:void" class="shop"><img src="img/shop.png"/></a>
            </li>
            <li class="f-l mid">
                <h5>帮助</h5>
                <ul>
                    <li><a href="javascript:void">帮助中心</a></li>
                    <li><a href="javascript:void">补档认领处</a></li>
                    <li><a href="javascript:void">侵权申诉</a></li>
                    <li><a href="javascript:void">建议/BUG汇报</a></li>
                </ul>
            </li>

            <li class="f-l last">
                <h5>传送门</h5>
                <ul>
                    <li><a href="javascript:void">高级弹幕</a></li>
                    <li><a href="javascript:void">名人堂</a></li>
                    <li><a href="javascript:void">活动专题页</a></li>
                    <li><a href="javascript:void">资讯</a></li>
                    <li><a href="javascript:void">壁纸站</a></li>
                    <li><a href="javascript:void">分院帽计划</a></li>
                    <li><a href="javascript:void">活动中心</a></li>
                </ul>
            </li>
        </ul>
        <img src="img/hz.png"/>
        <ul class="report">
            <li>广播电视节目制作经营许可证：（沪）字第1248号</li>
            <li>网络文化经营许可证：沪网文[2013]0480-056号</li>
            <li>信息网络传播视听节目许可证：0910417</li>
            <li><a href="javascript:void"><i></i>信息网络传播视听节目许可证：0910417</a></li>
        </ul>
        <ul class="report">
            <li>互联网ICP备案：沪ICP备13002172号-3</li>
            <li>沪ICP证：沪B2-20100043</li>
            <li>违法不良信息举报邮箱：help@bilibili.com</li>
            <li>违法不良信息举报电话：4000233233 转 3</li>
        </ul>
        <ol>
            <li>
                <a href="javascript:void">
                    <i></i>
                    <p>手机端下载</p>
                </a>
            </li>
            <li>
                <a href="javascript:void">
                    <i></i>
                    <p>新浪微博</p>
                </a>
            </li>
            <li>
                <a href="javascript:void">
                    <i></i>
                    <p>官方微信</p>
                </a>
            </li>
        </ol>
    </div>
</div>
<!-- //footer -->

<!-- 弹窗 -->
<div class="p-w" style="width:100%;height:100%; background:rgba(0,0,0,0.5); position:fixed;left:0;top:0;z-index: 90;display:none;">
    <div class="Popup" style="width:280px;padding:20px;height:135px; position: fixed; left:400px; top:400px;z-index: 91;background:rgba(255,255,255,0.8); border-radius: 20px;">
        <i style="width:150px;height:130px; display:block;background:url(img/ac1.png); z-index: 99; float:left;"></i>
        <div class="p-con" style="width:130px;height:100%;line-height:24px;float:right;padding:20px 10px 0 10px;box-sizing: border-box; font-size:12px; position:relative">
            前方施工中~去前面几个分区看看吧
            <div class="btn" style="position: absolute;padding:0 10px; height:30px; font-size:14px; background:rgba(0,0,0,0.6); line-height:30px; color:#fff;  cursor:pointer;border-radius: 10px; left:20px;bottom:20px;">确定</div>
        </div>
    </div>
</div>
<!-- //弹窗 -->

</body>

</html>