*{
    margin:0;
    padding:0;
}
body{
    font-family: '黑体';
    color:#78be42;
    background-color:#efeff4;
    padding-bottom: 71px;
}
input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
    -webkit-appearance: caret;
    -moz-appearance: caret; /* mobile firefox too! */
}
select{
    -webkit-appearance: caret;
    -moz-appearance: caret; /* mobile firefox too! */
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearboth{
    clear: both;!important;
}
.mt20{
    margin-top:20px!important;
}
.fr{
    float: right;
}
.text-right{
    text-align: right;
}
.header{
    width:100%;
    height:50px;
    border-bottom:1px solid #c8c7cc;
    background-color:#fff;
    position: relative;
    overflow: hidden;
}
.header .city{
    display: block;
    line-height: 20px;
    background:url("../images/city.jpg") no-repeat;
    background-size: 30%;
    padding-left:20px;
    font-size: 14px;
    position: absolute;
    right:15px;
    top:15px;
    color:#78be42
}
.header .opt{
    width:25px;
    height:25px;
    background:url("../images/icon.png") 63px -175px;
    background-size: 100px 300px;
    position: absolute;
    left:10px;
    top:10px;
}
.header .logo{
    display: block;
    width:100px;
    margin:0 auto;
    margin-top:10px;
}
.footer{
    position: fixed;
    bottom:0;
    height:70px;
    width:100%;
    border-top:1px solid #c8c7cc;
    background-color:#fff;
}
.footer .nav>li{
    float:left;
    width:25%;
}

.nav>li>a{
    display: block;
    text-align: center;
    color:#6d6d72;
    padding:10px 0;
    font-size:14px;
}
.nav>li.active>a{
    color:#78be42
}
.nav>li>a>i{
    display: block;
    width:30px;
    height:30px;
    background-image: url("../images/icon.png");
    background-size:100px 300px;
    margin:0 auto 5px auto;
}
.nav>li.active>a>i.i1{
    background-position: 63px 0;
}
.nav>li>a>i.i2{
    background-position: 0 -71px;
}
.nav>li.active>a>i.i2{
    background-position: 61px -71px;
}
.nav>li>a>i.i3{
    background-position: 0 -35px;
}
.nav>li.active>a>i.i3{
    background-position: 63px -35px;
}
.nav>li>a>i.i4{
    background-position: 0 -105px;
}
.nav>li.active>a>i.i4{
    background-position: 63px -105px;
}
.nav>li>a>i.i5{
    background-position: 0 -141px;
}
.nav>li.active>a>i.i5{
    background-position: 61px -141px;
}
.container{
    width:100%;
    overflow: hidden;
}
.bg-white{
    background-color:#fff;
}
.weather{
    width:50%;
    font-size:14px;
    overflow: hidden;
    margin:10px 0 10px 10px;
    color:#6d6d72;
    float: left;
}
.weather>img{
    float:left;
}
.weather-info{
    float:left;
    margin-left:10px;

}
.pj{
    float:right;
    color:#6d6d72;
    margin-top:15px;
    margin-right:5px;
}
.pj span{
    float:left;
}
.pj .star{
    display: block;
    width:75px;
    height:16px;
    background: url("../images/star.jpg") 0 1px repeat-x;
    /* background-size: 50%; */
}
.b-btn{
    display: block;
    width:100%;
    height:100%;
}
.b-btn i{
    display: block;
    width:60px;
    height:60px;
    background-image: url("../images/icon2.jpg");
    background-size:100%;
    float:left;
    margin:10px 15px 10px 15px;
}
.b-btn i.index-icon-2{
    background-position: 0 -180px;
}
.con-1{
    float:left;
    margin-top:25px;
}
.con-1 h2{
    font-weight: normal;
    font-size:18px;
    color:#78be42
}
.con-1 p{
    font-size:14px;
    margin-top:5px;
    color:#6d6d72;
}
.b-btn b{
    display: block;
    width:24px;
    height:42px;
    background: url("../images/icon.png") 0 -150px no-repeat;
    float: right;
    background-size: 250%;
    margin-top:25px;
    margin-right:25px;
}

/*reg*/
.reg-logo{
    display: block;
    height:50px;
    width:180px;
    margin:30px auto;
}
.form-wrap{
    width:100%;
}
.form-con{
    width:90%;
    margin:15px auto;
    color:#6d6d72;
    overflow: hidden;
    position: relative;
}
.form-con>span{

}
.form-con>input{
    width:99%;
    border:1px solid #ccc;
    padding:10px 0;
    text-indent: 45px;
}
.yz>input{
    width:60%;
    float: left;
}
.yz>span{
    display: block;
    background-color:#78be42;
    color:#fff;
    width:35%;
    float:left;
    margin-left:4%;
    text-align: center;
    height: 37px;
    line-height: 37px;
    font-size: 14px;
}
.form-con>button{
    width:100%;
    padding:10px;
    font-size:18px;
    background:#78be42;
    color:#fff;
    border:none
}
.form-con>a{
	display:block;
	text-align:center;
    width:100%;
    padding:10px;
    font-size:18px;
    background:#78be42;
    color:#fff;
    border:none
}
.btn-log{
	float:left;
}
.form-con .xy input{
    margin-right:10px;
    width:20px;
    height:20px;
    float: left;
}
.form-con .xy span{
    float:left;
    font-size:14px;
    padding-top:2px;
}
.btn-s2{
    width:40%!important;
}

.user-wrap{
    width:100%;
    height:120px;
    background:url("../images/userBg.jpg");
    background-size:100% 100%;
}
.user-wrap .avatar{
    width:80px;
    height:80px;
    float: left;
    margin:20px 20px 0 20px;
    border-radius: 50%;
    overflow: hidden;
}
.user-wrap .avatar img{
    width:80px;
    height:80px;
}
.user-wrap .ac-info{
    color:#fff;
    float:left;
}
.ac-info>h2{
    margin:30px 0 10px 0;
}
.con-2{
    display: block;
    padding:13px 15px 13px 0;
    border-top:1px solid #ccc;
    background-color:#fff;
    overflow: hidden;
    margin-left:20px;
}
.con-2>i{
    display: block;
    width:30px;
    height: 30px;
    float: left;
    background-image: url("../images/icon4.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.con-2>i.i2{
    background-position: 0 -36px;
}
.con-2>i.i3{
    background-position: 0 -72px;
}
.con-2>i.i4{
    background-position: 0 -107px;
}
.con-2>i.i5{
    background-position: 0 -145px;
}
.con-2>i.i6{
    background-position: 0 -181px;
}
.con-2>i.i7{
     background-position: 0 -218px;
 }
.con-2>i.i8{
    background-position: 0 -253px;
}
.con-2>i.i9{
    background-position: 0 -287px;
}
.con-2>i.i10{
    background-position: 0 -322px;
}
.con-2>i.i11{
    background-position: 0 -355px;
}
.con-2>i.i12{
    background-position: 0 -388px;
}
.con-2>i.i13{
    background-position: 0 -467px;
}
.con-2>i.i14{
     background-position: 0 -429px;
 }
.con-2>i.i15{
    background-position: 0 -504px;
}
.con-2>i.i16{
    background-position: 0 -535px;
}
.con-2>i.i17{
    background-position: 0 -571px;
}
.con-2>i.i18{
    background-position: 0 -603px;
}
.con-2>i.i19{
    background-position: 0 -635px;
}
.con-2>i.i20{
    background-position: 0 -667px;
}
.con-2>i.i21{
    background-position: 0 -700px;
}
.con-2>i.i23{
    background-position: 0 -765px;
}
.con-2>i.i50{
    background-position: 0 -815px;
}
.con-2 span.t{
    display: block;
    float: right;
    font-size:14px;
    border:1px solid #ccc;
    padding:0 10px;
    border-radius:10px;
}
.con-2 input{
    border:none;
    padding:8px 5px;
    margin-left:15px;
    float: right;
    font-size:14px;
}
.con-2>span{
    float: left;
    display: block;
    height:30px;
    line-height: 30px;
    margin-left:15px;
    color:#6d6d72;
}
.con-2>span>span{
    color:red;
    margin-left:10px;
}
.con-2>b{
    display: block;
    width:12px;
    height: 21px;
    float: right;
    background:url("../images/i1.png");
    background-size: 100%;
    margin-top:5px;
    margin-right:10px;
}
.con-2 .car-con{
    float: left;
    margin-left:15px;
    margin-top:-2px;
}
.con-2 span.s2{
    float: left;
    height:20px;
    line-height: 20px;
    color:#6d6d72;
}
.con-2 p.p1{
    float: left;
    color:#999;
    font-size: 12px;
}
.con-2 .sel2{
    color:#6d6d72;
    font-size: 14px;
    margin-left:15px;
    margin-top:5px;
    width:100px;
    border:none;
}
.bor-t-b{
    border-top:1px solid #c8c7cc;
    border-bottom:1px solid #c8c7cc;
}
.pl20{
    padding-left:20px;
}
.no-bor{
    border:none!important;
}
.top-bar{
    width:100%;
    height:50px;
    position: relative;
    background: #fff;
    border-bottom:1px solid #c8c7cc;
}
.top-bat-s2{
    background-color:#45b035;
    color:#fff;
    border-bottom:none;
}
.top-bar .back{
    display: block;
    width:12px;
    height:21px;
    background: url("../images/i2.png");
    background-size: 100%;
    position: absolute;
    left:12px;
    top:14px;
}
.top-bat-s2 .back{
    background: url("../images/i4.png");
    background-size: 100%;
}
.top-bar h1{
    display: block;
    width:100%;
    height:50px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    color:#6d6d72
}
.top-bat-s2 h1{
    color:#fff;
}
.top-bar h1.t2{
    width:100px;
    margin-left:25px;
    float:left;
}
.tab-wrap{
    width:100%;
}
.tab-wrap .tab-tit{
    overflow: hidden;
}
.tab-wrap .tab-tit li{
    width:50%;
    float: left;
    text-align: center;
    height:50px;
    line-height: 50px;
    background:#fff;
    border-bottom:1px solid #6d6d72;
    box-sizing: border-box;
    color:#6d6d72;
}
.tab-wrap .tab-tit .active{
    color:#78be42;
    border-bottom:3px solid #78be42;
}
.tab-info{
    width:100%;
    overflow: hidden;
    color:#6d6d72
}
.tab-info-con{
    padding:10px 15px;
    background: #fff;
    border-bottom: 1px dashed #ccc;
}
.tab-info-con-c1{
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
}
.tab-info-con-c1 span{
    display:block;
    width:50%;
    padding:10px 0;
    float:left;
}
.tab-info-con-c1 span a{
    color:#6d6d72
}
.text-left{
    text-align: left;
}
.tab-info-con-c2{
    padding:10px 0;
    overflow: hidden;
}
.tab-info-con-c2 .c2-pl{
     width:70%;
     float: left;
 }

.tab-info-con-c2 .c2-pr{
    width:30%;
    height:50px;
    line-height: 50px;
    text-align: right;
    float: right;
}
.mt10{
    margin-top:10px!important;
}
.recharge-wrap{
    color:#6d6d72;
    background:#fff;
    padding:15px;
    overflow: hidden;
    border-bottom: 1px solid #c8c7cc;
}
.recharge-wrap>p>input{
    border:1px solid #ccc;
	text-align:center;
	margin:0 10px;
	height:25px;
    width:80px;
    background:#fcfcfc;
    color:#d13c23;
    font-weight: bold;
    font-size:20px;
}
.recharge-wrap>ul{
    margin-top:25px;
}
.recharge-wrap>ul>li{
    float: left;
    width:33%;
    margin-bottom: 15px;
}
.recharge-wrap>ul>li>a{
    display: block;
    width:60px;
    margin:0 auto;
    border:1px solid #ccc;
    border-radius:3px;
    padding:5px 0;
    text-align: center;
    background:#fcfcfc
}
.recharge-wrap>ul>li.active a{
    border:1px solid #fb6911;
}
.con-3{
    background:#fff;
    overflow: hidden;

}
.recharge2{
    box-sizing: border-box;
    color:#fe7a22;
    padding:0 10px;
    text-align: center;
}
.recharge2>h2{
    text-align: center;
    font-size: 28px;
    margin:20px 0;
}
.recharge2 .p1{
    color:#333;

}
.recharge2 .p2{
    font-size: 14px;
    color:#ccc;
    margin-top:50px;
}
.address-table{
    width:100%;
    color:#6d6d72;
    margin:10px 0;
    border-bottom: 1px solid #ccc;
    background:#fff;
}
.address-table th{
    width:25%;
    font-weight: normal;
    padding-top:20px;
    font-size: 14px;
    vertical-align: top;
    text-align: right;
    padding-right:10px;
    border-top:1px solid #ccc;
}
.address-table td{
    border-top:1px solid #ccc;
    padding:10px;
}
.address-table select{
    padding:10px 5px;
    width:210px;
    border-radius: 3px;
    border:1px solid #ccc;
}
.address-table input{
    padding:10px 5px;
    width:200px;
    border-radius: 3px;
    border:1px solid #ccc;
}
.address-table textarea{
    padding:5px;
    width:200px;
    height:80px;
    border-radius: 3px;
    border:1px solid #ccc;
}
.fl{
    float: left!important;
}
.getCodeText{
    color:#6d6d72;
    text-align: center;
    margin-top:15px;
}
.getCodeText span{
    color:#ee801e;
}
.top-bar a.search,.top-bar a.map{
    display: block;
    width:25px;
    height:25px;
    position: absolute;
    right:55px;
    top:10px;
    background:url("../images/icon5.png") 0 -117px;
    background-size: 100%;
}
.top-bar a.search{
    background:url("../images/icon5.png") 0 -87px;
    background-size: 100%;
}
.top-bar a.map{
    right:15px;
}
.select1{
    width:50%;
    float: left;
    height:40px;
    font-size: 16px;
    text-indent: 15px;
    border:none;
    border-bottom:1px solid #c8c7cc;
    background:#fff;
    border-radius:0;
}
.shopList-wrap{
    border-top:1px solid #c8c7cc;
    border-bottom:1px solid #c8c7cc;
}
.shopList{
    display: block;
    padding:10px;
    background:#fff;
    overflow: hidden;
    color:#6d6d72;
    position: relative;
    border-top:1px solid #c8c7cc;
}
.shopList .shopImg{
    border:1px solid #ccc;
    width:100px;
    height:80px;
    float: left;
}
.dw-p{
    color:#333;
    margin:10px 0;
    font-size:14px;
    text-indent: 15px;
    line-height: 25px;
    overflow: hidden;
}
.dw-p span{
    display: block;
    float: right;
    width:25px;
    height:25px;
    margin-right:15px;
    background: url("../images/icon5.png") 0 -59px;
    background-size: 100%;
}
.shopList .shopInfo{
     float: left;
     margin-left:10px;
     font-size:14px;
 }
.shopList .shopInfo p{
    margin-bottom:5px;
}
.shopList .shopInfo h3{
    margin-bottom:5px;
}
.shopList b{
    display: block;
    height:21px;
    width:12px;
    background: url("../images/i1.png");
    background-size: 100%;
    position: absolute;
    right:15px;
    top:40px;
}
.shopList span.jl{
    position: absolute;
    right:15px;
    bottom:15px;
    color:#ccc;
}
.shopInfoUl{
    overflow: hidden;
}
.shopInfoUl li{
    color:#6d6d72;
    float: left;
    width:33.1%;
    text-align: center;
    padding:10px 0;
    background:#fff;
    border-bottom:1px solid #c8c7cc;
    border-right:1px solid #c8c7cc;
    font-size:14px;
}
.shopInfoUl li>a{
    color:#6d6d72
}
.fj{
    overflow: hidden;
    padding:15px;
    background:#fff;
    border-top:1px solid #c8c7cc;
    border-bottom:1px solid #c8c7cc;
    margin-top:30px;
    color:#6d6d72;
    font-size:14px;
}
.fj>i{
    display: block;
    width:15px;
    height:15px;
    background:#ccc;
    border-radius: 50%;
    float: left;
    margin-right:15px;
}
.fj>i.active{
    background:#78be42;
}
.fj span{
    float: right;
}
.fj span i{
    color:#1ec716;
    font-style: normal;
}
.fj span del{
    margin-right:20px;
}
.message-item{
    overflow: hidden;
    position: relative;
    color:#6d6d72;
    background: #fff;
    padding:20px 10px;
    border-bottom: 1px solid #c8c7cc;
}
.message-item .message-info{
    border-top:1px dashed #ccc;
    overflow: hidden;
    float: left;
    width:100%;
    margin-top:15px;
    padding-top:5px;
}
.message-item img{
    width:50px;
    height:50px;
    border:1px solid #ccc;
    float: left;
    margin-right:10px;
}
.message-item h3{
    float: left;
    font-size:16px;
}
.message-item p{
    float: left;
    font-size:12px;
    padding-top:5px;
    width:100%;
}
.message-item>span{
    position: absolute;
    right:15px;
    top:20px;
    font-size: 14px;
}
p.pay{
    color:#6d6d72;
    text-align: center;
    margin-top:10px;
}
p.pay span{
    color:#78be42
}
.con-2 input.qjns{
    width:25px;
    height:25px;
    margin-top:2px;
    border:1px solid #ccc;

}
.con-2 .cp i{
    background:url("../images/i3.png") no-repeat;
    background-size: 12px 10px;
    display: block;
    width:12px;
    height:10px;
    float: right;
    margin-top:10px;
    margin-left:10px;
}
.xc .con-2 input{
    margin-left:10px;
    float: left;
}
.form-con i{
    display: block;
    width:25px;
    height: 25px;
    position: absolute;
    left:10px;
    top:5px;
    background-image: url("../images/icon3.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.form-con i.i2{
    background-position: 0 -32px;
}
.form-con i.i3{
    background-position: 0 -58px;
}
.form-con i.i4{
    background-position: 0 -90px;
}
.c2-pl p>i{
    display: block;
    width:20px;
    height: 20px;
    background: url("../images/icon5.png") no-repeat;
    background-size: 100%;
    float: left;
    margin-right:10px;
}
.c2-pl p>i.i2{
    background-position: 0 -22px;
}
.star-bg,.star{
    display: inline-block;
    height:14px;
    width:75px;
    background: url("../images/star.jpg") 0 -14px repeat-x;
    background-size: 15px 28px;
    margin-right:10px;
}
.star{
    background: url("../images/star.jpg") 0 0 repeat-x;
    margin:0;
}
.shopInfoUl i{
    display: block;
    width:20px;
    height: 20px;
    background:url("../images/icon5.png");
    background-size: 100%;
    float: left;
    margin-left:10px;

}
.shopInfoUl i.i1{
    background-position: 0 -116px;

}
.shopInfoUl i.i2{
     background-position: 0 -138px;
 }
.shopInfoUl i.i3{
    background-position: 0 -22px;
}
.shopInfoUl i.i4{
    background-position: 0 -162px;
}
.shopInfoUl li span{
    display: block;
    line-height: 20px;
}
.car-list>li{
    padding:5px 10px;
    border-bottom:1px solid #ccc;
    line-height: 50px;
    overflow: hidden;
    font-size:16px;
    color:#6d6d72;
    background:#eee;
}
.car-list>li img{
    float: left;
    width:50px;
    height: 50px;
    margin-right:25px;
}
.c-zm{
    position: fixed;
    width:25px;
    height:100%;
    background:#78be42;
    right:0;
    top:0
}
.c-zm a{
    display: block;
    width:25px;
    height:25px;
    text-align: center;
    line-height: 25px;
    color:#fff;
}
.car-xh>li{
    padding:10px 10px;
    border-bottom:1px solid #ccc;
    font-size: 14px;
    color:#6d6d72;
    background:#fff;
}
.pj-con{
    color:#666;
    font-size: 14px;
    padding:10px 15px;
    background:#fff;
    border-bottom: 1px solid #ccc;
}
.pj-con .s1{
    margin-right:25px;
}
.pj-con .s2{
    margin-right:25px;
}
.pj-con p{
    margin:5px 0;
}
.select-table{
    border:1px solid #ccc;
    width:100%;
    background:#fff;
    margin-top:10px;
    text-align: center;
    color:#6d6d72
}
.select-table td{
    border-right:1px solid #ccc;
}
.shopInfo .sl,.shopInfo .s2,.shopInfo .s3{
    display: inline-block;
    width:15px;
    height:15px;
    text-align: center;
    color:#fff;
    background:#1ec716;
    border-radius: 50%;
}
.shopInfo .s2{
    background:#ffad2c;
}
.shopInfo .s3{
    background:#e32c2c;
}
.evaluation{
    background:#fff;
    padding:15px;
    color:#6d6d72;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}
.evaluation .star-bg{
    width:15px;
}
.evaluation .star{
    width:15px;
    margin-right:10px;
}
.evaluation .evaluation-d1{
    margin-bottom:15px;
}
.evaluation .evaluation-d2 textarea{
    width:200px;
    height:100px;
    border:1px solid #ccc;
}

.shadow-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:#000;
    opacity: 0.6;
    top:0;
    left:0;
}
.pop-box{
    width:290px;
    height:200px;
    border-radius: 15px;
    background-color:#fff;
    position: fixed;
    top:100px;
    left:15px;
    color:#6d6d72;
    text-align: center;
}
.pop-box .pop-box-tit{
    font-size: 18px;
    padding:10px 0;
    border-bottom:1px solid #ccc;
}
.pop-box a.close{
    position: absolute;
    display: block;
    left:15px;
    top:15px;
    width:10px;
    height:10px;
    background:url("../images/close.png");
    background-size: 10px 10px;
}
.pop-box-info p{
    margin:10px 0;
}
.pop-box-info p.p1{
    font-size: 14px;
    margin-bottom:0;
}
.pop-box-info p.p2{
    font-size: 24px;
    margin-top:0;
}
.pop-box-info p.p3{
    font-size: 14px;
    margin-top:15px;
}
.pop-box-info p.p3 a{
    color:#1ec716;
    padding-left:10px;
}
.pop-box-info .pwd{
    width:80%;
    height:40px;
    border:1px solid #78be42;
    border-radius:0;
    text-indent: 10px;
}

.part-left,.part-right{
    height:100%;
    width:40%;
    position: absolute;
    top:0;
    left:0;
    background-color:#f4f4f4;
    z-index:-1;
}
.product-l-ul,.product-r-ul{
    overflow: hidden;
    margin-top:60px;
}
.product-l-ul>li,.product-r-ul>li{
    padding:15px 0;
    text-indent:15px;
    color:#333;
    width:100%;
}
.product-l-ul>li.current{
    background-color:#fff;
}
.part-right{
    left:auto;
    right:0;
    width:60%;
    background-color:#fff;
}
.product-r-ul>li{
    padding:0;
}
.product-r-ul>li>a{
    display: block;
    padding:15px 0;
    width:80%;
    margin:0 auto;
    border-bottom:1px solid #ccc;
}
.top-bat-s2 a.cart,.cart2{
    display: block;
    position: absolute;
    width:35px;
    height:32px;
    right:10px;
    top:13px;
    background:url("../images/cart.png") no-repeat;
    -webkit-background-size: 70%;
    background-size: 70%;
}

.product-wrap{
    padding:10px;
}
.product-item{
    background-color:#fff;
    width:45%;
    float: left;
    position: relative;
    padding:5px;
    text-align: center;
    margin-right:10px;
    margin-bottom:10px;
}
.product-item:nth-child(even){
    margin-right:0;
}
.product-name{
    display: block;
    color:#333;
    text-align: left;
    margin:5px 0;
}
.product-con-1{
    overflow: hidden;
}
.product-con-1>span.price{
    color:#e75447;
    float: left;
    font-size:14px;
}
 .product-con-1>span.buyed{
     color:#a8a8a8;
     font-size:14px;
     float: right;
 }
.product-con-2{
    overflow: hidden;
    margin-top:10px;
    position: relative;
}
.product-con-2>a.btn{
    display: block;
    width:80px;
    line-height: 30px;
    color:#fff;
    font-size: 14px;

    background-color:#5adb4a;
    border-radius:5px;
}
.cart2{
    background:url("../images/cart-2.png") no-repeat;
    -webkit-background-size: 70%;
    background-size: 70%;
    right:0;
    top: 5px;
}

.product-list{
    padding:10px;
}
.product-list-item{
    overflow: hidden;
    background:#fff;
    padding:5px;
    border-bottom:1px solid #f0f1f1;
    position: relative;
}
.product-list-item>img{
    float: left;
}
.product-list-item>a.remove{
    position: absolute;
    right:8px;
    top:10px;
    display: block;
    width:15px;
    height:15px;
    background:url("../images/remove.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.item-r{
    float: left;
    margin-left:10px;
}
.item-r h3{
    font-size:16px;
    color:#6b6b6b;
    margin-top:5px;
    width:170px;
}
.count-wrap{
    overflow: hidden;
    position: absolute;
    left:100px;
    bottom:10px;
}
.count-wrap>span{
    display: block;
    float: left;
    width:25px;
    height: 20px;
    border:1px solid #ccc;
    text-align: center;
    line-height: 20px;
    color:#333;
}
.count-wrap>input{
    width:25px;
    height:20px;
    border:1px solid #ccc;
    float: left;
    text-align: center;
}
.s-price-wrap{
    position: absolute;
    right:10px;
    bottom:10px;
}
.s-price-wrap>span.price{
    color:#e85f53;
}
.corm span.price{
    border:none;
    width:auto;
    color:#e7383b
}
.s-price-wrap>span.count{
    color:#666;
    margin-left:5px;
}
.bottom-sum{
    width:100%;
    position: fixed;
    bottom:0;
    left:0;
    background-color:#45b035;
    overflow: hidden;
    text-align:center;
    color:#fff;
}
.bottom-sum>.pl{
    float: left;
    width:30%;
    background-color:#393939;
    padding:15px 0;
}
.bottom-sum>.pr{
    float: right;
    width:70%;
    padding:15px 0;
}
.head-address>a{
    display: block;
    width:100%;
    overflow: hidden;
    background-color:#fff;
    color:#686868;
    font-size:14px;
    position: relative;
}
.head-address>a>b{
    display: block;
    width:12px;
    height: 21px;
    position: absolute;
    background:url("../images/i1.png");
    background-size: 100%;
    right:15px;
    top:30px;
}
.head-address div.info{
    padding:10px 15px;
}
.head-address div.info>span{
    display: block;
    width:100px;
    line-height: 30px;
    float: left;
    padding-left:30px;
}
.head-address div.info>span.user{
    background:url("../images/address-user.jpg") 0 4px  no-repeat;
    -webkit-background-size: 17%;
    background-size: 17%;
}
.head-address div.info>span.phone{
    background:url("../images/address-phone.jpg") 0 4px  no-repeat;
    -webkit-background-size: 17%;
    background-size: 17%;
}
.head-address>a p{
    line-height: 25px;
}
.head-address .line{
    height: 5px;
    background:url("../images/bg_03.jpg");
    -webkit-background-size: 100%;
    background-size: 100%;
}
.corm{
    margin:15px 0;
}
.pay-tit{
    line-height: 30px;
    padding-left:30px;
    height:30px;
    background:url("../images/pay_tit.jpg") 0 13px no-repeat;
    -webkit-background-size: 8%;
    background-size: 8%;
    margin-left:15px;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px solid #ccc;
    color:#262626;
    font-size:14px;
}

.tj{
    background-color:#fff;
    padding:15px;
    margin:15px 0;
    color:#656565;
}
.tj p{
    overflow: hidden;
    line-height: 25px;
}
.tj p span{
    float: left;
}
.tj p span.price{
    float: right;
    color:#e9494b
}
.btn-s4{
    display: block;
    width:100px;
    height:35px;
    line-height: 35px;
    text-align: center;
    background:#45b035;
    border-radius:10px;
    color:#fff;
    margin:0 auto;
}

.light-box{
    width:100%;
    height:100%;
    position: fixed;
    z-index:40;
    left:0;
    top:0;
    background:#000;
    opacity: .6;
    filter:alpha(opacity=60);
}
.tip{
    position: fixed;
    top:150px;
    left:30px;
    width:250px;
    height:130px;
    background:#fff;
    z-index: 41;
}
.tip>h3{
    width:100%;
    background-color:#25c56f;
    color:#fff;
    text-align: center;
    font-size:14px;
    font-weight: normal;
    padding:10px 0;
}
.tip>p{
    margin:20px 0;
    color:#858585;
    font-size:14px;
    text-align: center;
}
.tip>div{

}
.tip>div>a{
    display: block;
    width:50%;
    padding:5px 0;
    border-top:1px solid #ccc;
    float: left;
    text-align: center;
    line-height: 26px;
    color:#858585;
}
.tip>div>a.a1{
    border-right:1px solid #ccc;
}
.tip>div>a.a2{
    margin-left:-1px;
}

.address-people .address-table th{
    width:30%;
}
.address-people-s2{
    color:#333;
    margin:15px 0 0 15px;
}
.address-people-s2 input{
    width:25px;
    height:25px;
    margin-top:2px;
    border:1px solid #ccc;
    float: left;
}
.address-people-s2 span{
    float: left;
    margin-top:5px;
    margin-left:10px;
}
.a4{
    display: block;
    width:100%;
    height:35px;
    position: relative;
}
.a4 b{
    display: block;
    width:12px;
    height: 21px;
    position: absolute;
    background:url("../images/i1.png");
    background-size: 100%;
    right:15px;
    top:8px;
}
.detail-wrap{
    background-color:#fff;
}
.detail-head{
    padding:10px 15px;
}
.detail-head>h2{
    color:#333;
    font-size:16px;
    margin:10px 0;
}
.detail-head>div{
    overflow: hidden;
}
.detail-head>div>.price{
    color:#fc3035;
    float: left;
    line-height: 20px;
}
.detail-head>div>.by{
    display: block;
    float: left;
    background:#f7931e;
    color:#fff;
    padding:3px;
    font-size: 12px;
    margin-left:5px;
}
.detail-head>p{
    color:#ccc;
    font-size:14px;
    margin:5px 0;
}
.detail-foot{
    padding:15px;
    padding-top:10px;
    border-top:1px solid #ccc;
    position: relative;
}
.detail-foot>strong{
    font-weight: normal;
    color:#333;
    font-size:14px;
}

.detail-foot>.count-wrap{
    left:auto;
    right:10px;
}
.pj-wrap{
    background:#fff;
    margin-top:15px;
    color: #999999;
    font-size:14px;
    padding-bottom:15px;
}
.pj-wrap .pj-tit{
    padding:10px;
    overflow: hidden;
}
.pj-tit .sp1{
    float: left;
}
.pj-tit .sp2{
    float: right;
}

.bottom-control{
    width:100%;
    height:50px;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 39
}
.bottom-control>a{
    display: block;
    width:50%;
    line-height: 50px;
    background-color:#f7931e;
    float : left;
    color:#fff;
    text-align: center;

}
.bottom-control>a.jies{
    background-color:#45b035
}

.pop-pj{
    width:300px;
    height:500px;
    background-color:#fff;
    position: fixed;
    left:10px;
    top:10px;
    z-index: 52;
    border-radius:15px;
}
.pop-pj>.logo-2{
    text-align: center;
    padding:10px 0;
    border-bottom:1px solid #eeaf71
}
.zp{
    font-size:12px;
    margin-top:15px;
    color:#333;
    padding:0 15px;
}
.zp .start,.pj-item-t .start{
    width:15px;
    height:15px;
    background:url("../images/start.jpg") repeat-x;
    -webkit-background-size: 100%;
    background-size: 100%;
    float: left;
}
.zp .sp1{
    margin-left:5px;
}
.zp .sp2,.zp .sp3{
    float: right;
}
.pj-wrap{
    padding:0 15px 0 15px;
    font-size:12px;
}
.pj-item{
    border-bottom:1px solid #ebeced;
}
.pj-item-t{
    overflow: hidden;
    padding-top:10px;
}
.pj-item-t span{
    float: left;
}
.pj-item-t span.sp2{
    margin-left:50px;
}
.pj-item-t .start{
    float: right;
}
.pj-item-info{
    padding:10px 0;
}
.exit{
    display: block;
    width:100px;
    border-radius:5px;
    line-height: 30px;
    text-align: center;
    color:#fff;
    background-color:#3eb134;
    margin:0 auto;
    margin-top:30px;
}

.top-con{
    padding:15px;
    background-color:#fff;
    font-size: 14px;
    color:#333;
    border-bottom:1px solid #ccc;
}
.top-con>div{
    padding:5px 0;
}
.top-con>div>i,i.c3,i.c4{
    display: block;
    width:15px;
    height:15px;
    background:url("../images/icon_5.jpg") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    float: left;
    margin-right:5px;
}
.top-con>div>i.c2{
    background-position: 0 -15px;
}
i.c3{
    background-position: 0 -30px;
}
i.c4{
    background-position: 0 -45px;
}
.top-con>p{
    line-height: 25px;
}
.top-con>p>span{
    color:#206cba
}
.top-con>p.p3{
    color:#787878;
}

.bottom-con{
    padding:10px 15px;
    background:#fff;
    margin-top:15px;
    font-size:14px;
    color:#333;
}
.bottom-con>.tit{
    padding-bottom: 10px;
}
.product-order{
    padding:10px 0;
    border-top:1px solid #efefef;
    overflow: hidden;
}
.product-order img{
    float: left;
    margin-right: 10px;

}
.product-order>div{
  padding-top:5px;
 }
.product-order>div>p{
    color:#ccc;
    margin-top:10px;
}

.sfk{
    padding:15px 0;
    border-top:1px solid #efefef;
    overflow: hidden;
}
.sfk .sp1{
    float: left;
}
.sfk .sp2{
    float: right;
    color:#c10003;
}
.sfk>div{
    text-align: center;
}
.sfk>div>i{
    display: inline-block;
    float: none;
}
.sfk>ul{
    margin-left:15px;
}
.sfk>ul>li{
    list-style-type:disc;
    line-height: 25px;
    color:#636363;
}
.bottom-pj{
    position: fixed;
    width:100%;
    height:50px;
    background:#e3e1e2;
    bottom:0;
    left:0;
    z-index: 48
}
.bottom-pj>a{
    display: block;
    width:80px;
    text-align: center;
    line-height: 30px;
    border:1px solid #18c711;
    color:#18c711;
    border-radius:5px;
    font-size:14px;
    float: right;
    margin:10px 5px 0 0;
}