@charset "utf-8";
/* CSS Document */

.reg-title{
	position:relative;
	height:70px;
	width:96%;
	margin:0 auto;
	overflow:hidden;
}
.reg-title h2{
	font-size:16px;
	height:30px;
	line-height:30px;
	color:#69737b;
	position:absolute;
	left:20px;
	top:20px;
	z-index:3;
	padding:0 15px;
	background:#fff;
}
.reg-title .line{
	position:absolute;
	left:0;
	top:35px;
	height:1px;
	font-size:0;
	line-height:0;
	overflow:hidden;
	float:left;
	background:#e7ecee;
	width:100%;	
}
.reg-steps{
	height:57px;
	overflow:hidden;
	width:96%;
	margin:0 auto;
}
.reg-steps ol{
	height:57px;
	width:100%;
	overflow:hidden;
}
.reg-steps li{
	position:relative;
	float:left;
	display:inline-block;
	width:33.33%;
	height:57px;
	line-height:57px;
	background:#f0f4f7 url(../images/steps.png) no-repeat right 0;	
}
.reg-steps .txt{
	float:left;
	display:inline-block;
	position:relative;
	padding-left:120px;	
}
.reg-step-1 .step-1, .reg-step-2 .step-2, .forgot-steps .reg-step-3 .step-3{
	color:#fff;
	background:#a1acb4 url(../images/steps.png) no-repeat right 0	
}
.reg-steps .step-3{
	z-index:1;
	background:#f0f4f7;
}
.dot24{
	color:#8a949c;
}
.reg-steps .dot24{
	position:absolute;
	left:80px;
	top:18px;
	text-indent:0;
	line-height:24px;
	text-align:center;
	font-size:18px;
	font-style:normal;
	font-family:Tahoma, Geneva, sans-serif;
}

.reg-step-2 .step-1, .reg-step-3 .step-1, .reg-step-3 .step-2, .reg-step-4 .step-1, .reg-step-4 .step-2, .reg-step-4 .step-3{
	color:#fff;
	background:#a1acb4 url(../images/steps.png) no-repeat right -135px
}
.reg-items{
	padding:50px 30px 30px;
	overflow:hidden;
	zoom:1;
	min-height:300px;
	position:relative;
}
.reg-items .reg-right{
	position:absolute;
	right:20px;
	top:50px;	
}
.reg-items .items{
	height:70px;
}
.reg-items .items li.txt em{
	color:#d35353;
	padding-right:3px;	
}
.reg-items .items li{
	position:relative;
	float:left;
}
.reg-items .items li.txt{
	float:left;
	display:inline;
	margin-right:15px;
	width:100px;
	text-align:right;
	padding-top:10px;
}
.reg-items .items li input{
	float:left;
}
.verifycode{
	vertical-align:top;
	margin-left:10px;
}
.refreshcode{
	height:42px;
	width:42px;
	display:inline-block;
	background:#e8ecef;
	text-align:center;
	position:relative;
	margin-left:10px;
	border-radius:3px;
	color:#475058;
}
.refreshcode:hover{
	color:#349cd8
}
.refreshcode i{
	position:absolute;
	left:13px;
	top:8px;
}
.refreshcode b{
	position:absolute;
	left:0;
	bottom:5px;
	width:100%;
	font-weight:normal;	
}
.refresh-todo{
	background-position:-102px -148px;
	width:12px;
	height:12px;
}
.reg-items .agreement{
	padding-left:115px;
	position:relative;
}
.next-step{
	padding:15px 0 15px 115px;
	height:50px;
}
.reg-items .gbtn{
	width:120px;
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:16px;
	padding:0;
	border:none;
	color:#fff;
	border-radius:3px;
}
.reg-items .gbtn:hover{
	background:#1a588e
}
.reg-items .security-pro{
	position:relative;
	font-size:12px;
	height:20px;
	line-height:normal;
	vertical-align:top;
	text-align:left;
	color:#8a949c;
	padding-left:115px;
}
.reg-items .security-pro .icons{
	margin-right:3px;
	position:absolute;
}
.ver-green-down{
	background-position:-101px -129px;
	width:14px;
	height:16px;
}
.security-pro b{
	padding-left:16px;
	font-weight:normal;
}
.v-mode{
	padding:0 0 15px 115px;
}
.email-items{
	position:relative;
	overflow:hidden;
	zoom:1;
	width:500px;
	margin:0 auto;
	padding:20px 0 50px 80px;
}
.email-items .email-dot{
	background-position:-205px -100px;
	width:60px;
	height:60px;
	position:absolute;
	left:0;
	top:25px;
}
.email-items .e{
	font-size:16px;
	line-height:2.2em;	
}
.reg-items .go-email{
	font-size:14px;
	width:100px;
	height:32px;
	line-height:32px;
	float:left;
	margin-right:10px;
}
.email-items .b{
	padding:15px 0;
	height:35px;
	line-height:35px;
	position:relative;
}
.email-help{
	height:110px;
	padding:20px 0;
	background:#f0f4f7;
	overflow:hidden;
}
.email-help ul{
	width:102%;
	overflow:hidden;
	height:110px;
}
.email-help li{
	float:left;
	border-right:1px solid #d8dee3;
	width:33%;
	height:110px
}
.email-help h3{
	height:30px;
	font-size:14px;
	font-weight:normal;
	color:#69737b;
	line-height:30px;
	padding:0 30px;	
}
.email-help p{
	line-height:25px;
	color:#8a949c;
	padding:0 30px;
	font-size:12px;	
}


/*login*/
.login-wrap{}
.security-pro{position:relative; font-size:12px; height:20px; line-height:normal; vertical-align:top; text-align:center; color:#8a949c}
.security-pro b{ padding-left:16px; font-weight:normal}
.security-pro .icons{ margin-right:3px; position:absolute}

.login-entry{width:400px; height:auto; position:relative; margin-left:50px; border: 1px solid #e8ecef; border-radius: 3px; background:#fff; float:left; display:inline; padding:10px 30px 60px}

.login-entry a:hover{ text-decoration:underline}
.login-entry .head{ position:relative; height:70px}
.login-entry .head .line{ height:1px; font-size:0; line-height:0; overflow:hidden; float:left; background:#e7ecee; width:100%; position:absolute; left:0; top:35px}
.login-entry .head h2{font-size:16px; height:30px; line-height:30px; color:#69737b; position:absolute; left:30px; top:20px; z-index:3; padding:0 15px; background:#fff}

.login-entry .login-error{ height:40px; color:#d35352; position:absolute; left:105px; top:60px; width:250px; overflow:hidden; display:none}
.login-entry .login-error table{ width:100%; vertical-align:middle; height:40px}
.login-entry .login-error td{ height:40px}
.login-items{ padding-top:20px}
.login-items label{float:left; padding:10px 15px 0 0; width:60px; text-align:right; font-size:14px}
.login-items li{ height:60px; position:relative}
.login-items input{width:230px; color:#8a949c; float:left; display:inline}
.login-items .error{width:120px; padding-top:10px; font-size:12px; color:#d35352; position:absolute; left:325px; top:0}

.login-items .authcode{ vertical-align:top; margin-left:5px; float:left; display:inline}
.login-items .refcode{ height:42px; width:42px; float:left; display:inline; background:#e8ecef; text-align:center; position:relative; margin-left:5px; color:#475058}
.login-items .refcode i{ position:absolute; left:13px; top:8px}
.login-items .refcode b{ position:absolute; left:0; bottom:5px; width:100%; font-weight:normal}
.login-items .refcode:visited{ color:#475058}
.login-items .refcode:hover{ color:#349cd8}

.login-check{ width:250px; height:40px; padding-top:10px; margin:0 auto; position:relative}
.login-check label{ float:left; display:inline; position:relative; padding-right:15px}
.login-check label .icons{ position:absolute; left:auto; top:4px}
.login-check input{ float:left}
.login-check a{position:absolute; right:0; top:10px; font-size:12px;}

.login-button{width:250px; height:50px; margin:0 auto; position:relative}
.login-button input{ width:240px; height:50px; line-height:50px; background:#15456f; border:0; text-align:center; color:#fff; font-size:16px; cursor:pointer; }

.login-server{width:250px; height:20px; line-height:20px; padding:20px 0; overflow:hidden; margin:0 auto; position:relative}
.login-server a{ font-size:12px; position:relative; display:inline-block; padding-left:20px; margin-right:10px}
.login-server .weibo .icons{background-position:-205px -60px; width:17px; height:16px; position:absolute; left:0; top:1px}
.login-server .qq{ padding-left:16px; margin-left:10px; color:#8a949c}
.login-server .qq .icons{background-position:-205px -80px; width:16px; height:19px; position:absolute; left:0; top:1px}
.login-server .reg{position:absolute; right:0; top:20px}

 
.adSwitch{width:300px; height:350px; margin:55px 0 0 90px; float:left; display:inline; position:relative; overflow:hidden}
.adSwitch .prev,.adSwitch .next{width:16px; height:28px; position:absolute; top:40px; cursor:pointer; z-index:99;overflow:hidden;text-indent:-9999em}
.adSwitch .prev{background-position:-157px -120px; left:25px}
.adSwitch .next{background-position:-174px -120px; right:25px}
.adSwitch a,.adSwitch a:visited{ color:#349cd8}
.adSwitch a:hover{ text-decoration:underline}
.adSwitch .items{width:300px; height:350px; overflow:hidden; position:absolute; left:0; top:0}
.adSwitch li{width:300px; height:350px; overflow:hidden; float:left; display:inline; text-align:center; background:#f7f7f7}
.adSwitch li .img{ width:110px; height:110px; overflow:hidden; margin:0 auto}
.adSwitch li .img img{ display:block}
.adSwitch li h2{ font-size:18px; padding-top:45px}
.adSwitch li p{ text-align:center;padding:10px 0; line-height:26px}