.column-r{ width:416px; float:right; }
.main .article-r{ width:398px; height:700px;margin-bottom:18px; float:right;border:1px solid #f1f1f1;}
.article-r .title{ width:398px;height:64px; border-bottom:1px solid #cacaca;}
.article-r .title h5{ float:left;width:100px;height:27px;font-size:16px; background:url(../img/icon.png) no-repeat 0 -81px;padding-left:30px;line-height:27px;margin:24px 0 0 24px;}
.article-r .title a{ float:right; font-size:12px; color:#bbbbbb; margin:32px 30px 0 0;}
.article-r ul{ padding:0 20px 0 30px;}
.article-r li{ position:relative; padding:10px 0;}
.article-r li a{ height:42px; overflow: hidden; display: block;color:#555555; }
.article-r li a:hover{ text-decoration: dashed; text-decoration: underline;color:#0171bd;}
.article-r li i{ font-style: normal;color:#0968ac; position:absolute; left:-20px;}

.main .scanning{ width:398px; height:260px;  float:right; border:1px solid #f1f1f1;}

.news-list{ width:708px;  float:left;border:1px solid #e1e1e1; padding:32px 32px 0 32px;}
.news-list li{ line-height:26px;white-space: nowrap;overflow: hidden;}
.news-list a{ color:#454545; float:left;}
.news-list a:hover{ color:#0034a5;}
.news-list span{ color:#9f9ba7; float:right;}
.news-list .page{ padding-left:170px;height:45px; overflow: hidden; margin-top:10px; border-top:1px solid #e1e5e9; line-height:45px;}
.news-list .page>*{ float:left;padding:0 4px;}
.news-list .page *{ color:#454545; font-size:14px;}
.news-list .page .go{ background:none;border:none; margin-top:14px;}
.news-list .roll input{ width:28px;height:20px;padding:0 4px;margin:0 4px;}

.new{ width:771px; height:240px; float:left; border:1px solid #f1f1f1; margin-top:35px;}
.new .title{ width:100%;height:41px; background:#f1f1f1;}
.new .title div{ width:159px;height:41px;background:#016db8; color:#fff; text-align: center;line-height:41px;float:left;}
.new .news{ width:712px; height:140px;padding:30px;}
.new img{ float:left;}
.new dl{ width:520px;height:140px;float:right;}
.new dt{ font-size:18px;padding-bottom:5px;}
.new dt span{}
.new dd{ color:#454545;line-height:26px; height:100px;overflow: hidden; }
.new dd a{ color:#afafaf;}

.more{  float:right;margin:12px 20px 0 0; font-size:12px;width:38px;height:16px;}
.more span{ float:left;color:#bcbcbc;}
.more i{ display:block; float:right;background:url(../img/icon.png) no-repeat 0 -280px;width:12px;height:12px; margin:2px 0 0 2px;}

